### Data Cleaning

We scraped the data from HDB website and put it into a csv file!

Steps taken:
1. Clean dataset and convert data to be useful for feature engineering
2. Create additional features such as finding nearest distance to amenities

In [1]:
# import relevant library
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [2]:
# read csv file
url = "data.csv"
HDB_resale_df = pd.read_csv(url)

This is how our HDB resale dataset looks like right now

In [3]:
HDB_resale_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

We need to find which variables influence a HDB resale flat the most. We realized we need to clean the data and include more variables that will hopefully help us later in the mode prediction.

As our dataset consists of resale flats from 2017 to 2022, we need to account for inflation and adjust all resale price to 2022 levels. We will be using https://www.hdb.gov.sg/residential/selling-a-flat/overview/resale-statistics as of 21/12/2022

We also need to return the region based on town. This will help us in our EDA later. We will return the region based on this: https://www.hdb.gov.sg/about-us/history/hdb-towns-your-home

We also need to clean the storey range and store as a categorical variable that makes more sense for a human reader. We will return the storey category based on this: https://singaporepublichousing.fandom.com/wiki/HDB_unit_Elevation-Ground_floor,low_floor,mid-floor_and_high_floor#:~:text=Generally%2Cproperty%20agents%20define%20low,lift%20from%20the%20upper%20floors
In summary: low: 1-4, mid: 4-6 or 7 to 9, rest of the values are high

In [4]:
# function to adjust for inflation

def adjust_inflation(ind):
  t_year = HDB_resale_df['transaction_year'][ind]
  t_month = HDB_resale_df['transaction_month'][ind]
  if t_month <= 4:
    t_month = 1
  elif t_month <= 6:
    t_month = 2
  elif t_month <= 9:
    t_month = 3
  else:
    t_month = 4

  t_price = HDB_resale_df['resale_price'][ind]
  # storing inflation data
  inflation_dict = {
      "2022": {
        "4":  168.1,
        "3":	168.1,
        "2":	163.9,
        "1":	159.5
      },	
      "2021": {
        "4":	155.7,
        "3":	150.6,
        "2":	146.4,
        "1":	142.2
      },	
      "2020": {
        "4":	138.1,
        "3":	133.9,
        "2":	131.9,
        "1":	131.5
      },	 
      "2019": {
        "4":	131.5,
        "3":	130.9,
        "2":	130.8,
        "1":	131
      },	
      "2018": {
        "4":	131.4,
        "3":	131.6,
        "2":	131.7,
        "1":	131.6
      },	
      "2017": {
        "4":	132.6,
        "3":	132.8,
        "2":	133.7,
        "1":	133.9
      },	    
  }
  # adjusting price for inflation
  HDB_resale_df.loc[ind, 'adjusted_resale_price'] = t_price * ( inflation_dict['2022']['3'] / inflation_dict[ str(t_year) ][ str(t_month) ] )
  return

# function to return region based on town
def identify_region(ind):
    # return region based on town i.e. function returns NORTH if town is Bishan 
    # https://www.hdb.gov.sg/about-us/history/hdb-towns-your-home
    location = HDB_resale_df['town'][ind]
    loca = {
        'NORTH':{
                'SEMBAWANG',
                'WOODLANDS',
                'YISHUN',
            },
        'NORTH-EAST':{
                'ANG MO KIO',
                'HOUGANG',
                'PUNGGOL',
                'SENGKANG',
                'SERANGOON',
            },
        'EAST':{
                'BEDOK',
                'PASIR RIS',
                'TAMPINES',
            },
        'WEST':{
                'BUKIT BATOK',
                'BUKIT PANJANG',
                'CHOA CHU KANG',
                'CLEMENTI',
                'JURONG EAST',
                'JURONG WEST',
                'TENGAH',
            },
        'CENTRAL':{
                'BISHAN',
                'BUKIT MERAH',
                'BUKIT TIMAH',
                'CENTRAL AREA',
                'GEYLANG',
                'KALLANG/WHAMPOA',
                'MARINE PARADE',
                'QUEENSTOWN',
                'TOA PAYOH',
            }, 
        }
    for key in loca:
        if location in loca[key]:
            # add region to df
            HDB_resale_df.loc[ind, 'region'] = key
    return

# function to clean storey

def clean_storey(ind):
        # cleaning storey range
    # https://singaporepublichousing.fandom.com/wiki/HDB_unit_Elevation-Ground_floor,low_floor,mid-floor_and_high_floor#:~:text=Generally%2Cproperty%20agents%20define%20low,lift%20from%20the%20upper%20floors.
        # summary -> low: 1 - 4, mid: 5 - 8, high: >=9
        # our data is split 1 - 3, 4 - 6, 7 - 9 & more
        # new cleaning -> low: 1 - 3, mid: 4 - 9, high: >=9
    # classify storey accordingly
    level = HDB_resale_df.loc[ind, 'storey_range']
    if level == '01 TO 03':
        HDB_resale_df.loc[ind, 'storey_classification'] = 'low'
    elif level == '04 TO 06' or level == '07 TO 09':
        HDB_resale_df.loc[ind, 'storey_classification'] = 'mid'
    elif level in ['10 TO 12', '13 TO 15',
       '19 TO 21', '22 TO 24', '16 TO 18', '34 TO 36', '28 TO 30',
       '37 TO 39', '49 TO 51', '25 TO 27', '40 TO 42', '31 TO 33',
       '46 TO 48', '43 TO 45']:
        HDB_resale_df.loc[ind, 'storey_classification'] = 'high'

In [5]:
# separating year and month from date for clarity
HDB_resale_df['adjusted_resale_price'] = 0
HDB_resale_df['transaction_year'] = pd.DatetimeIndex(HDB_resale_df['month']).year
HDB_resale_df['transaction_month'] = pd.DatetimeIndex(HDB_resale_df['month']).month
HDB_resale_df['region'] = 'null'
HDB_resale_df['storey_classification'] = 'null'
for i in range(len(HDB_resale_df)):
    # adjust for inflation
    adjust_inflation(i)
    # adjust region based on location
    identify_region(i)
    # adjust storey based on level
    clean_storey(i)
# one-hot encoding storey_classification
HDB_resale_df['storey_coded'] = HDB_resale_df['storey_classification'].replace({'high':3, 'mid':2, 'low':1})
# price order - increasing: NORTH, WEST, NORTH-EAST, EAST, CENTRAL
# one-hot encoding region based on price order
HDB_resale_df['region_coded'] = HDB_resale_df['region'].replace({'NORTH':1, 'WEST':2, 'NORTH-EAST':3, 'EAST':4, 'CENTRAL':5})

HDB_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,adjusted_resale_price,transaction_year,transaction_month,region,storey_classification,storey_coded,region_coded
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,291256.161314,2017,1,NORTH-EAST,high,3,3
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,313853.622106,2017,1,NORTH-EAST,low,1,3
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,328918.595967,2017,1,NORTH-EAST,low,1,3
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,332684.839432,2017,1,NORTH-EAST,mid,2,3
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,332684.839432,2017,1,NORTH-EAST,low,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,2022-02,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,842000.0,887399.373041,2022,2,NORTH,mid,2,1
142419,2022-02,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,845000.0,890561.128527,2022,2,NORTH,high,3,1
142420,2022-05,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,862000.0,884089.078707,2022,5,NORTH,mid,2,1
142421,2022-09,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,880000.0,880000.000000,2022,9,NORTH,high,3,1
142422,2022-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,980000.0,980000.000000,2022,10,NORTH,mid,2,1

In [7]:
# saving transformed data to csv file
# HDB_resale_df.to_csv('transformed_df.csv')

We want to now get the coordinates of each individual resale flat. Coordinates data is extremely useful because it will help us in our EDA and will also help us calculate the distance between the resale flat and nearby amenities to see if there is any correlation. 

We first need to prepare the address of each resale flat

In [8]:
HDB_resale_df['address'] = HDB_resale_df['block'] + " " + HDB_resale_df['street_name']

addressList = list(HDB_resale_df['address'])
addressList

['406 ANG MO KIO AVE 10',
 '108 ANG MO KIO AVE 4',
 '602 ANG MO KIO AVE 5',
 '465 ANG MO KIO AVE 10',
 '601 ANG MO KIO AVE 5',
 '150 ANG MO KIO AVE 5',
 '447 ANG MO KIO AVE 10',
 '218 ANG MO KIO AVE 1',
 '447 ANG MO KIO AVE 10',
 '571 ANG MO KIO AVE 3',
 '534 ANG MO KIO AVE 10',
 '233 ANG MO KIO AVE 3',
 '235 ANG MO KIO AVE 3',
 '219 ANG MO KIO AVE 1',
 '536 ANG MO KIO AVE 10',
 '230 ANG MO KIO AVE 3',
 '570 ANG MO KIO AVE 3',
 '624 ANG MO KIO AVE 4',
 '441 ANG MO KIO AVE 10',
 '625 ANG MO KIO AVE 9',
 '119 ANG MO KIO AVE 3',
 '255 ANG MO KIO AVE 4',
 '432 ANG MO KIO AVE 10',
 '211 ANG MO KIO AVE 3',
 '584 ANG MO KIO AVE 3',
 '118 ANG MO KIO AVE 4',
 '333 ANG MO KIO AVE 1',
 '256 ANG MO KIO AVE 4',
 '330 ANG MO KIO AVE 1',
 '557 ANG MO KIO AVE 10',
 '302 ANG MO KIO AVE 3',
 '575 ANG MO KIO AVE 10',
 '509 ANG MO KIO AVE 8',
 '472 ANG MO KIO AVE 10',
 '475 ANG MO KIO AVE 10',
 '629 ANG MO KIO AVE 4',
 '546 ANG MO KIO AVE 10',
 '131 ANG MO KIO AVE 3',
 '254 ANG MO KIO AVE 4',
 '470 ANG MO KIO AVE 10',
 '601 ANG MO KIO AVE 5',
 '463 ANG MO KIO AVE 10',
 '207 ANG MO KIO AVE 1',
 '304 ANG MO KIO AVE 1',
 '646 ANG MO KIO AVE 6',
 '328 ANG MO KIO AVE 3',
 '588C ANG MO KIO ST 52',
 '588D ANG MO KIO ST 52',
 '588D ANG MO KIO ST 52',
 '101 ANG MO KIO AVE 3',
 '430 ANG MO KIO AVE 3',
 '520 ANG MO KIO AVE 5',
 '716 ANG MO KIO AVE 6',
 '588A ANG MO KIO ST 52',
 '310A ANG MO KIO AVE 1',
 '613 ANG MO KIO AVE 4',
 '101 BEDOK NTH AVE 4',
 '548 BEDOK NTH AVE 1',
 '75 BEDOK NTH RD',
 '550 BEDOK NTH AVE 1',
 '1 BEDOK STH AVE 1',
 '151 BEDOK RESERVOIR RD',
 '54 CHAI CHEE ST',
 '50 CHAI CHEE ST',
 '105 BEDOK RESERVOIR RD',
 '528 BEDOK NTH ST 3',
 '534 BEDOK NTH ST 3',
 '550 BEDOK NTH AVE 1',
 '77 BEDOK NTH RD',
 '116 BEDOK RESERVOIR RD',
 '18 BEDOK STH RD',
 '40 CHAI CHEE AVE',
 '57 NEW UPP CHANGI RD',
 '57 NEW UPP CHANGI RD',
 '105 BEDOK NTH AVE 4',
 '709 BEDOK RESERVOIR RD',
 '42 CHAI CHEE ST',
 '709 BEDOK RESERVOIR RD',
 '55 CHAI CHEE DR',
 '75 BEDOK NTH RD',
 '2 BEDOK STH AVE 1',
 '37 CHAI CHEE AVE',
 '709 BEDOK RESERVOIR RD',
 '425 BEDOK NTH RD',
 '117 BEDOK NTH RD',
 '423 BEDOK NTH AVE 1',
 '42 CHAI CHEE ST',
 '533 BEDOK NTH ST 3',
 '149 BEDOK RESERVOIR RD',
 '35 BEDOK STH AVE 2',
 '42 BEDOK STH RD',
 '34 BEDOK STH AVE 2',
 '7 BEDOK STH AVE 2',
 '8 BEDOK STH AVE 2',
 '80 BEDOK NTH RD',
 '78 BEDOK NTH RD',
 '135 BEDOK RESERVOIR RD',
 '148 BEDOK RESERVOIR RD',
 '81 BEDOK NTH RD',
 '142 BEDOK RESERVOIR RD',
 '142 BEDOK RESERVOIR RD',
 '124 BEDOK NTH RD',
 '705 BEDOK NTH RD',
 '554 BEDOK NTH ST 3',
 '602 BEDOK RESERVOIR RD',
 '81 BEDOK NTH RD',
 '508 BEDOK NTH AVE 3',
 '720 BEDOK RESERVOIR RD',
 '765 BEDOK RESERVOIR VIEW',
 '10 CHAI CHEE RD',
 '185 BEDOK NTH RD',
 '111 LENGKONG TIGA',
 '220B BEDOK CTRL',
 '603 BEDOK RESERVOIR RD',
 '21 CHAI CHEE RD',
 '672 JLN DAMAI',
 '415 BEDOK NTH AVE 2',
 '763 BEDOK RESERVOIR VIEW',
 '805 CHAI CHEE RD',
 '723 BEDOK RESERVOIR RD',
 '722 BEDOK RESERVOIR RD',
 '219C BEDOK CTRL',
 '640 BEDOK RESERVOIR RD',
 '160 BEDOK STH AVE 3',
 '640 BEDOK RESERVOIR RD',
 '94C BEDOK NTH AVE 4',
 '22 SIN MING RD',
 '407 SIN MING AVE',
 '105 BISHAN ST 12',
 '167 BISHAN ST 13',
 '167 BISHAN ST 13',
 '111 BISHAN ST 12',
 '181 BISHAN ST 13',
 '166 BISHAN ST 13',
 '109 BISHAN ST 12',
 '115 BISHAN ST 12',
 '181 BISHAN ST 13',
 '260 BISHAN ST 22',
 '275A BISHAN ST 24',
 '214 BISHAN ST 23',
 '182 BISHAN ST 13',
 '448 BRIGHT HILL DR',
 '402 SIN MING AVE',
 '128 BISHAN ST 12',
 '303 SHUNFU RD',
 '275A BISHAN ST 24',
 '231 BISHAN ST 23',
 '134 BISHAN ST 12',
 '342 BT BATOK ST 34',
 '530 BT BATOK ST 51',
 '145 BT BATOK ST 11',
 '528 BT BATOK ST 51',
 '537 BT BATOK ST 52',
 '213 BT BATOK ST 21',
 '219 BT BATOK ST 21',
 '235 BT BATOK EAST AVE 5',
 '130 BT BATOK WEST AVE 6',
 '212 BT BATOK ST 21',
 '346 BT BATOK ST 34',
 '219 BT BATOK ST 21',
 '226 BT BATOK CTRL',
 '247 BT BATOK EAST AVE 5',
 '169 BT BATOK WEST AVE 8',
 '154 BT BATOK ST 11',
 '260 BT BATOK EAST AVE 4',
 '360 BT BATOK ST 31',
 '217 BT BATOK ST 21',
 '178 BT BATOK WEST AVE 8',
 '169 BT BATOK WEST AVE 8',
 '265 BT BATOK EAST AVE 4',
 '134 BT BATOK WEST AVE 6',
 '301 BT BATOK ST 31',
 '537 BT BATOK ST 52',
 '289E BT BATOK ST 25',
 '244 BT BATOK EAST AVE 5',
 '248 BT BATOK EAST AVE 5',
 '290D BT BATOK EAST AVE 3',
 '395 BT BATOK WEST AVE 5',
 '642 BT BATOK CTRL',
 '185 BT BATOK WEST AVE 6',
 '106 BT BATOK CTRL',
 '210 BT BATOK ST 21',
 '386 BT BATOK WEST AVE 5',
 '394 BT BATOK WEST AVE 5',
 '190 BT BATOK WEST AVE 6',
 '206 BT BATOK ST 21',
 '211 BT BATOK ST 21',
 '391 BT BATOK WEST AVE 5',
 '205 BT BATOK ST 21',
 '193 BT BATOK WEST AVE 6',
 '624 BT BATOK CTRL',
 '290A BT BATOK ST 24',
 '141 BT BATOK ST 11',
 '120 BT BATOK CTRL',
 '289A BT BATOK ST 25',
 '10 JLN BT HO SWEE',
 '2 JLN BT HO SWEE',
 '45 TELOK BLANGAH DR',
 '36 BEO CRES',
 '20 TELOK BLANGAH CRES',
 '16 TAMAN HO SWEE',
 '32 TELOK BLANGAH RISE',
 '33 TELOK BLANGAH WAY',
 '142 JLN BT MERAH',
 '131 JLN BT MERAH',
 '30 JLN KLINIK',
 '63 TELOK BLANGAH HTS',
 '142 JLN BT MERAH',
 '61 TELOK BLANGAH HTS',
 '116 BT MERAH VIEW',
 '131 JLN BT MERAH',
 '44 TELOK BLANGAH DR',
 '24 BEO CRES',
 '78 INDUS RD',
 '55 TELOK BLANGAH DR',
 '130 BT MERAH VIEW',
 '122 BT MERAH LANE 1',
 '80C TELOK BLANGAH ST 31',
 '50 MOH GUAN TER',
 '50 MOH GUAN TER',
 '47 MOH GUAN TER',
 '54 HAVELOCK RD',
 '101 HENDERSON CRES',
 '23 TELOK BLANGAH CRES',
 '106 HENDERSON CRES',
 '115 BT PURMEI RD',
 '108 BT PURMEI RD',
 '129 KIM TIAN RD',
 '106B DEPOT RD',
 '38 JLN RUMAH TINGGI',
 '38 JLN RUMAH TINGGI',
 '3 DELTA AVE',
 '134 JLN BT MERAH',
 '80A TELOK BLANGAH ST 31',
 '80A TELOK BLANGAH ST 31',
 '80A TELOK BLANGAH ST 31',
 '27A JLN MEMBINA',
 '75A REDHILL RD',
 '77A REDHILL RD',
 '27A JLN MEMBINA',
 '27A JLN MEMBINA',
 '57 HAVELOCK RD',
 '80A TELOK BLANGAH ST 31',
 '106 HENDERSON CRES',
 '106B DEPOT RD',
 '48 LENGKOK BAHRU',
 '35 JLN RUMAH TINGGI',
 '46 LENGKOK BAHRU',
 '67 TELOK BLANGAH DR',
 '87 ZION RD',
 '1 DELTA AVE',
 '214 PETIR RD',
 '123 PENDING RD',
 '249 BANGKIT RD',
 '458 SEGAR RD',
 '506 JELAPANG RD',
 '621 SENJA RD',
 '402 FAJAR RD',
 '419 FAJAR RD',
 '526 JELAPANG RD',
 '623 SENJA RD',
 '128 PENDING RD',
 '204 PETIR RD',
 '473 SEGAR RD',
 '237 BT PANJANG RING RD',
 '473 SEGAR RD',
 '539 BT PANJANG RING RD',
 '516 JELAPANG RD',
 '217 PETIR RD',
 '218 PETIR RD',
 '517 JELAPANG RD',
 '652 SENJA LINK',
 '624 SENJA RD',
 '539 BT PANJANG RING RD',
 '629 SENJA RD',
 '455 SEGAR RD',
 '176 LOMPANG RD',
 '418 FAJAR RD',
 '484 SEGAR RD',
 '140 PETIR RD',
 '152 GANGSA RD',
 '537 BT PANJANG RING RD',
 '401 FAJAR RD',
 '242 BT PANJANG RING RD',
 '613 BT PANJANG RING RD',
 '654 SENJA RD',
 '536 JELAPANG RD',
 '154 GANGSA RD',
 '154 GANGSA RD',
 '154 GANGSA RD',
 '174 LOMPANG RD',
 '177 LOMPANG RD',
 '606 SENJA RD',
 '650 SENJA LINK',
 '228 PENDING RD',
 '151 PETIR RD',
 '4 TOH YI DR',
 '5 FARRER RD',
 '15 TOH YI DR',
 '9 JLN KUKOH',
 '640 ROWELL RD',
 '264 WATERLOO ST',
 '32 NEW MKT RD',
 '5 TG PAGAR PLAZA',
 '271 QUEEN ST',
 '271 QUEEN ST',
 '232 BAIN ST',
 '1C CANTONMENT RD',
 '1F CANTONMENT RD',
 '1F CANTONMENT RD',
 '1B CANTONMENT RD',
 '111 TECK WHYE LANE',
 '111 TECK WHYE LANE',
 '114 TECK WHYE LANE',
 '460 CHOA CHU KANG AVE 4',
 '121 TECK WHYE LANE',
 '404 CHOA CHU KANG AVE 3',
 '692B CHOA CHU KANG CRES',
 '115 TECK WHYE LANE',
 '422 CHOA CHU KANG AVE 4',
 '680 CHOA CHU KANG CRES',
 '771 CHOA CHU KANG ST 54',
 '229 CHOA CHU KANG CTRL',
 '237 CHOA CHU KANG CTRL',
 '157 JLN TECK WHYE',
 '416 CHOA CHU KANG AVE 4',
 '414 CHOA CHU KANG AVE 4',
 '239 CHOA CHU KANG CTRL',
 '404 CHOA CHU KANG AVE 3',
 '423 CHOA CHU KANG AVE 4',
 '621 CHOA CHU KANG ST 62',
 '657 CHOA CHU KANG CRES',
 '418 CHOA CHU KANG AVE 4',
 '608 CHOA CHU KANG ST 62',
 '412 CHOA CHU KANG AVE 3',
 '635 CHOA CHU KANG NTH 6',
 '353 CHOA CHU KANG CTRL',
 '412 CHOA CHU KANG AVE 3',
 '353 CHOA CHU KANG CTRL',
 '453 CHOA CHU KANG AVE 4',
 '689A CHOA CHU KANG DR',
 '692A CHOA CHU KANG CRES',
 '689B CHOA CHU KANG DR',
 '760 CHOA CHU KANG NTH 5',
 '544 CHOA CHU KANG ST 52',
 '690A CHOA CHU KANG CRES',
 '474 CHOA CHU KANG AVE 3',
 '248 CHOA CHU KANG AVE 2',
 '626 CHOA CHU KANG ST 62',
 '789 CHOA CHU KANG NTH 6',
 '671 CHOA CHU KANG CRES',
 '296B CHOA CHU KANG AVE 2',
 '604 CHOA CHU KANG ST 62',
 '663 CHOA CHU KANG CRES',
 '101 TECK WHYE LANE',
 '715 CLEMENTI WEST ST 2',
 '715 CLEMENTI WEST ST 2',
 '702 WEST COAST RD',
 '607 CLEMENTI WEST ST 1',
 '374 CLEMENTI AVE 4',
 '346 CLEMENTI AVE 5',
 '109 CLEMENTI ST 11',
 '339 CLEMENTI AVE 5',
 '351 CLEMENTI AVE 2',
 '334 CLEMENTI AVE 2',
 '702 WEST COAST RD',
 '305 CLEMENTI AVE 4',
 '364 CLEMENTI AVE 2',
 '371 CLEMENTI AVE 4',
 '449 CLEMENTI AVE 3',
 '418 CLEMENTI AVE 1',
 '730 CLEMENTI WEST ST 2',
 '716 CLEMENTI WEST ST 2',
 '709 CLEMENTI WEST ST 2',
 '611 CLEMENTI WEST ST 1',
 '716 CLEMENTI WEST ST 2',
 '348 CLEMENTI AVE 5',
 "411 C'WEALTH AVE WEST",
 '324 CLEMENTI AVE 5',
 '307 CLEMENTI AVE 4',
 '461 CLEMENTI AVE 3',
 '723 CLEMENTI WEST ST 2',
 '724 CLEMENTI WEST ST 2',
 '46 CIRCUIT RD',
 '43 CIRCUIT RD',
 '30 BALAM RD',
 '21 BALAM RD',
 '22 BALAM RD',
 '47 CIRCUIT RD',
 '67 CIRCUIT RD',
 '82 MACPHERSON LANE',
 '37 CIRCUIT RD',
 '24 BALAM RD',
 '65 CIRCUIT RD',
 '49 CIRCUIT RD',
 '30 BALAM RD',
 '24 EUNOS CRES',
 '67 CIRCUIT RD',
 '302 UBI AVE 1',
 '4 HAIG RD',
 '95 OLD AIRPORT RD',
 '36 CIRCUIT RD',
 '10 HAIG RD',
 '128 GEYLANG EAST AVE 1',
 '33 EUNOS CRES',
 '344 UBI AVE 1',
 '40 SIMS DR',
 '54 PIPIT RD',
 '42 SIMS DR',
 '42 CIRCUIT RD',
 '120 GEYLANG EAST CTRL',
 '5 HAIG RD',
 '134 GEYLANG EAST AVE 1',
 '411 EUNOS RD 5',
 '30 CASSIA CRES',
 '986A BUANGKOK CRES',
 '22 HOUGANG AVE 3',
 '644 HOUGANG AVE 8',
 '24 HOUGANG AVE 3',
 '108 HOUGANG AVE 1',
 '619 HOUGANG AVE 8',
 '623 HOUGANG AVE 8',
 '311 HOUGANG AVE 5',
 '501 HOUGANG AVE 8',
 '698 HOUGANG ST 61',
 '698 HOUGANG ST 61',
 '307 HOUGANG AVE 5',
 '21 HOUGANG AVE 3',
 '322 HOUGANG AVE 5',
 '308 HOUGANG AVE 5',
 '154 HOUGANG ST 11',
 '339 HOUGANG AVE 7',
 '681 HOUGANG AVE 8',
 '314 HOUGANG AVE 5',
 '336 HOUGANG AVE 7',
 '321 HOUGANG AVE 5',
 '602 HOUGANG AVE 4',
 '709 HOUGANG AVE 2',
 '674 HOUGANG AVE 8',
 '165 HOUGANG AVE 1',
 '332 HOUGANG AVE 5',
 '135 LOR AH SOO',
 '419 HOUGANG AVE 8',
 '938 HOUGANG ST 92',
 '435 HOUGANG AVE 8',
 '699B HOUGANG ST 52',
 '155 HOUGANG ST 11',
 '445 HOUGANG AVE 8',
 '617 HOUGANG AVE 8',
 '411 HOUGANG AVE 10',
 '448 HOUGANG AVE 10',
 '142 LOR AH SOO',
 '557 HOUGANG ST 51',
 '465 UPP SERANGOON RD',
 '835 HOUGANG CTRL',
 '922 HOUGANG ST 91',
 '912 HOUGANG ST 91',
 '971 HOUGANG ST 91',
 '941 HOUGANG ST 92',
 '984D BUANGKOK LINK',
 '978D BUANGKOK CRES',
 '572 HOUGANG ST 51',
 '915 HOUGANG ST 91',
 '915 HOUGANG ST 91',
 '570 HOUGANG ST 51',
 '919 HOUGANG AVE 4',
 '912 HOUGANG ST 91',
 '610 HOUGANG AVE 8',
 '958 HOUGANG ST 91',
 '929 HOUGANG ST 91',
 '456 HOUGANG AVE 10',
 '171 HOUGANG AVE 1',
 '136 LOR AH SOO',
 '466 HOUGANG AVE 8',
 '372 HOUGANG ST 31',
 '461 HOUGANG AVE 10',
 '940 HOUGANG ST 92',
 '538 HOUGANG ST 52',
 '628 HOUGANG AVE 8',
 '407 HOUGANG AVE 10',
 '705 HOUGANG AVE 2',
 '410 PANDAN GDNS',
 '37 TEBAN GDNS RD',
 '247 JURONG EAST ST 24',
 '250 JURONG EAST ST 24',
 '231 JURONG EAST ST 21',
 '410 PANDAN GDNS',
 '330 JURONG EAST AVE 1',
 '264 JURONG EAST ST 24',
 '411 PANDAN GDNS',
 '253 JURONG EAST ST 24',
 '207 JURONG EAST ST 21',
 '253 JURONG EAST ST 24',
 '115 JURONG EAST ST 13',
 '101 JURONG EAST ST 13',
 '211 JURONG EAST ST 21',
 '339 JURONG EAST AVE 1',
 '62 TEBAN GDNS RD',
 '311 JURONG EAST ST 32',
 '112 JURONG EAST ST 13',
 '283 TOH GUAN RD',
 '310 JURONG EAST ST 32',
 '329 JURONG EAST AVE 1',
 '312 JURONG EAST ST 32',
 '22 TEBAN GDNS RD',
 '265 TOH GUAN RD',
 '22 TEBAN GDNS RD',
 '272 TOH GUAN RD',
 '268 TOH GUAN RD',
 '288E JURONG EAST ST 21',
 '265 TOH GUAN RD',
 '307 JURONG EAST ST 32',
 '405 PANDAN GDNS',
 '111 JURONG EAST ST 13',
 '314 JURONG EAST ST 32',
 '227 JURONG EAST ST 21',
 '45 TEBAN GDNS RD',
 '990A JURONG WEST ST 93',
 '990B JURONG WEST ST 93',
 '185 BOON LAY AVE',
 '119 HO CHING RD',
 '174 BOON LAY DR',
 '113 TAO CHING RD',
 '176 BOON LAY DR',
 '120 HO CHING RD',
 '914 JURONG WEST ST 91',
 '421 JURONG WEST ST 42',
 '908 JURONG WEST ST 91',
 '915 JURONG WEST ST 91',
 '926 JURONG WEST ST 92',
 '211 BOON LAY PL',
 '915 JURONG WEST ST 91',
 '517 JURONG WEST ST 52',
 '530 JURONG WEST ST 52',
 '530 JURONG WEST ST 52',
 '518 JURONG WEST ST 52',
 '511 JURONG WEST ST 52',
 '514 JURONG WEST ST 52',
 '524 JURONG WEST ST 52',
 '813 JURONG WEST ST 81',
 '178 YUNG SHENG RD',
 '854 JURONG WEST ST 81',
 '276A JURONG WEST ST 25',
 '733 JURONG WEST ST 73',
 '854 JURONG WEST ST 81',
 '730 JURONG WEST ST 72',
 '273B JURONG WEST AVE 3',
 '936 JURONG WEST ST 91',
 '844 JURONG WEST ST 81',
 '720 JURONG WEST AVE 5',
 '750 JURONG WEST ST 73',
 '848 JURONG WEST ST 81',
 '943 JURONG WEST ST 91',
 '153 YUNG HO RD',
 '833 JURONG WEST ST 81',
 '854 JURONG WEST ST 81',
 '545 JURONG WEST ST 42',
 '950 JURONG WEST ST 91',
 '747 JURONG WEST ST 73',
 '179 YUNG SHENG RD',
 '756 JURONG WEST ST 74',
 '406 JURONG WEST ST 42',
 '430 JURONG WEST AVE 1',
 '713 JURONG WEST ST 71',
 '259 BOON LAY DR',
 '450 JURONG WEST ST 42',
 '722 JURONG WEST AVE 5',
 '540 JURONG WEST AVE 1',
 '452 JURONG WEST ST 42',
 '648D JURONG WEST ST 61',
 '988A JURONG WEST ST 93',
 '674B JURONG WEST ST 65',
 '330 TAH CHING RD',
 '655B JURONG WEST ST 61',
 '682C JURONG WEST CTRL 1',
 '619 JURONG WEST ST 65',
 '657A JURONG WEST ST 65',
 '257 BOON LAY DR',
 '640 JURONG WEST ST 61',
 '655B JURONG WEST ST 61',
 '664A JURONG WEST ST 64',
 '648B JURONG WEST ST 61',
 '668D JURONG WEST ST 64',
 '663C JURONG WEST ST 65',
 '602 JURONG WEST ST 62',
 '664A JURONG WEST ST 64',
 '663D JURONG WEST ST 65',
 '476 JURONG WEST ST 41',
 '681C JURONG WEST CTRL 1',
 '987C JURONG WEST ST 93',
 '337A TAH CHING RD',
 '337A TAH CHING RD',
 '934 JURONG WEST ST 91',
 '271B JURONG WEST ST 24',
 '902 JURONG WEST ST 91',
 '273C JURONG WEST AVE 3',
 '272A JURONG WEST ST 24',
 '821 JURONG WEST ST 81',
 '818 JURONG WEST ST 81',
 '843 JURONG WEST ST 81',
 '673C JURONG WEST ST 65',
 '676B JURONG WEST ST 64',
 '198 BOON LAY DR',
 '401 JURONG WEST ST 42',
 '988A JURONG WEST ST 93',
 '675B JURONG WEST ST 64',
 '605 JURONG WEST ST 62',
 '659A JURONG WEST ST 65',
 '818 JURONG WEST ST 81',
 '656A JURONG WEST ST 61',
 '178 YUNG SHENG RD',
 '653A JURONG WEST ST 61',
 '610 JURONG WEST ST 65',
 '659B JURONG WEST ST 65',
 '602 JURONG WEST ST 62',
 '683C JURONG WEST ST 64',
 '517C JURONG WEST ST 52',
 '274A JURONG WEST AVE 3',
 '906 JURONG WEST ST 91',
 '714 JURONG WEST ST 71',
 '671C JURONG WEST ST 65',
 '558 JURONG WEST ST 42',
 '685A JURONG WEST ST 64',
 '628 JURONG WEST ST 65',
 '609 JURONG WEST ST 65',
 '666B JURONG WEST ST 65',
 '683A JURONG WEST CTRL 1',
 '666B JURONG WEST ST 65',
 '666B JURONG WEST ST 65',
 '7 JLN BATU',
 '27 JLN BAHAGIA',
 '76 LOR LIMAU',
 "3 ST. GEORGE'S RD",
 '67 KALLANG BAHRU',
 "3 ST. GEORGE'S RD",
 '49 DORSET RD',
 '57 GEYLANG BAHRU',
 '30 BENDEMEER RD',
 '6 JLN BATU',
 '74 WHAMPOA DR',
 '11 UPP BOON KENG RD',
 '93 GEYLANG BAHRU',
 '685 RACE COURSE RD',
 '46 OWEN RD',
 '49 DORSET RD',
 '16 UPP BOON KENG RD',
 '468 NTH BRIDGE RD',
 '107 TOWNER RD',
 '105 TOWNER RD',
 '12 FARRER PK RD',
 '5A UPP BOON KENG RD',
 '95 WHAMPOA DR',
 '123 MCNAIR RD',
 '18 JLN TENTERAM',
 '38C BENDEMEER RD',
 '3C UPP BOON KENG RD',
 '38D BENDEMEER RD',
 '108B MCNAIR RD',
 "21 ST. GEORGE'S RD",
 '48A DORSET RD',
 '55 GEYLANG BAHRU',
 '59B GEYLANG BAHRU',
 '108B MCNAIR RD',
 '9 BOON KENG RD',
 '7 BOON KENG RD',
 '105 JLN RAJAH',
 '66 MARINE DR',
 '32 MARINE CRES',
 '55 MARINE TER',
 '62 MARINE DR',
 '5 CHANGI VILLAGE RD',
 '753 PASIR RIS ST 71',
 '753 PASIR RIS ST 71',
 '743 PASIR RIS ST 71',
 '109 PASIR RIS ST 11',
 '632 PASIR RIS DR 3',
 '742 PASIR RIS ST 71',
 '473 PASIR RIS DR 6',
 '121 PASIR RIS ST 11',
 '773 PASIR RIS ST 71',
 '474 PASIR RIS DR 6',
 '121 PASIR RIS ST 11',
 '124 PASIR RIS ST 11',
 '215 PASIR RIS ST 21',
 '484 PASIR RIS DR 4',
 '185 PASIR RIS ST 11',
 '570 PASIR RIS ST 53',
 '701 PASIR RIS DR 10',
 '416 PASIR RIS DR 6',
 '519 PASIR RIS ST 52',
 '198 PASIR RIS ST 12',
 '564 PASIR RIS ST 51',
 '109 PASIR RIS ST 11',
 '231 PASIR RIS DR 4',
 '720 PASIR RIS ST 72',
 '747 PASIR RIS ST 71',
 '520 PASIR RIS ST 52',
 '515 PASIR RIS ST 52',
 '633 PASIR RIS DR 3',
 '199 PASIR RIS ST 12',
 '553 PASIR RIS ST 51',
 '514 PASIR RIS ST 52',
 '419 PASIR RIS DR 6',
 '239 PASIR RIS ST 21',
 '116 PASIR RIS ST 11',
 '237 PASIR RIS ST 21',
 '108 PASIR RIS ST 12',
 '531 PASIR RIS DR 1',
 '203B PUNGGOL FIELD',
 '132 EDGEDALE PLAINS',
 '128A PUNGGOL FIELD WALK',
 '106B PUNGGOL FIELD',
 '614A EDGEFIELD PLAINS',
 '195E PUNGGOL RD',
 '168B PUNGGOL EAST',
 '270A PUNGGOL FIELD',
 '195D PUNGGOL RD',
 '613A PUNGGOL DR',
 '615B EDGEFIELD PLAINS',
 '293 PUNGGOL CTRL',
 '602A PUNGGOL CTRL',
 '613D PUNGGOL DR',
 '269C PUNGGOL FIELD',
 '601A PUNGGOL CTRL',
 '614B EDGEFIELD PLAINS',
 '601C PUNGGOL CTRL',
 '268D PUNGGOL FIELD',
 '305D PUNGGOL DR',
 '270A PUNGGOL FIELD',
 '289B PUNGGOL PL',
 '289B PUNGGOL PL',
 '289A PUNGGOL PL',
 '268D PUNGGOL FIELD',
 '274C PUNGGOL PL',
 '269B PUNGGOL FIELD',
 '302A PUNGGOL PL',
 '614B EDGEFIELD PLAINS',
 '601C PUNGGOL CTRL',
 '172C EDGEDALE PLAINS',
 '203B PUNGGOL FIELD',
 '637A PUNGGOL DR',
 '118 EDGEFIELD PLAINS',
 '161B PUNGGOL CTRL',
 '105A EDGEFIELD PLAINS',
 '106A PUNGGOL FIELD',
 '102C PUNGGOL FIELD',
 '196C PUNGGOL FIELD',
 '104B EDGEFIELD PLAINS',
 '105A EDGEFIELD PLAINS',
 '199B PUNGGOL FIELD',
 '201A PUNGGOL FIELD',
 '171C EDGEDALE PLAINS',
 '166B PUNGGOL CTRL',
 '163A PUNGGOL CTRL',
 '617C PUNGGOL DR',
 '295 PUNGGOL CTRL',
 '617B PUNGGOL DR',
 '299 PUNGGOL CTRL',
 '617C PUNGGOL DR',
 '270B PUNGGOL FIELD',
 '273C PUNGGOL PL',
 '268A PUNGGOL FIELD',
 '267B PUNGGOL FIELD',
 '270C PUNGGOL FIELD',
 '171C EDGEDALE PLAINS',
 "83 C'WEALTH CL",
 '171 STIRLING RD',
 '153 MEI LING ST',
 "81 C'WEALTH CL",
 '169 STIRLING RD',
 "109 C'WEALTH CRES",
 "94 C'WEALTH DR",
 "111 C'WEALTH CRES",
 "83 C'WEALTH CL",
 "82 C'WEALTH CL",
 '3 GHIM MOH RD',
 '1 DOVER RD',
 '170 STIRLING RD',
 '1 GHIM MOH RD',
 '6 GHIM MOH RD',
 '8 HOLLAND AVE',
 "86 C'WEALTH CL",
 '8 HOLLAND AVE',
 '60 STRATHMORE AVE',
 '11 HOLLAND DR',
 '2 HOLLAND AVE',
 '23 GHIM MOH LINK',
 '52 STRATHMORE AVE',
 '130 CLARENCE LANE',
 '7 GHIM MOH RD',
 '21 HOLLAND DR',
 '18 DOVER CRES',
 '52 STRATHMORE AVE',
 '477 SEMBAWANG DR',
 '322 SEMBAWANG CL',
 '335 SEMBAWANG CL',
 '504B MONTREAL DR',
 '489 ADMIRALTY LINK',
 '467 ADMIRALTY DR',
 '413 SEMBAWANG DR',
 '357 ADMIRALTY DR',
 '341 SEMBAWANG CL',
 '327 SEMBAWANG CRES',
 '420 CANBERRA RD',
 '338 SEMBAWANG CRES',
 '334 SEMBAWANG CL',
 '357A ADMIRALTY DR',
 '353B ADMIRALTY DR',
 '311 CANBERRA RD',
 '351B CANBERRA RD',
 '589A MONTREAL DR',
 '351C CANBERRA RD',
 '303 CANBERRA RD',
 '588B MONTREAL DR',
 '333 SEMBAWANG CL',
 '337 SEMBAWANG CRES',
 '441B FERNVALE RD',
 '441A FERNVALE RD',
 '445B FERNVALE RD',
 '445A FERNVALE RD',
 '211D COMPASSVALE LANE',
 '211C COMPASSVALE LANE',
 '308C ANCHORVALE RD',
 '124B RIVERVALE DR',
 '185C RIVERVALE CRES',
 '184C RIVERVALE CRES',
 '324D SENGKANG EAST WAY',
 '183D RIVERVALE CRES',
 '131 RIVERVALE ST',
 '158C RIVERVALE CRES',
 '183D RIVERVALE CRES',
 '183D RIVERVALE CRES',
 '130 RIVERVALE ST',
 '108 RIVERVALE WALK',
 '121 RIVERVALE DR',
 '404A FERNVALE LANE',
 '303C ANCHORVALE LINK',
 '128 RIVERVALE ST',
 '257A COMPASSVALE RD',
 '123D RIVERVALE DR',
 '296C COMPASSVALE CRES',
 '195 RIVERVALE DR',
 '211A COMPASSVALE LANE',
 '446C JLN KAYU',
 '235 COMPASSVALE WALK',
 '201C COMPASSVALE DR',
 '208A COMPASSVALE LANE',
 '224D COMPASSVALE WALK',
 '238 COMPASSVALE WALK',
 '434A FERNVALE RD',
 '211A COMPASSVALE LANE',
 '410B FERNVALE RD',
 '441A FERNVALE RD',
 '269A COMPASSVALE LINK',
 '445B FERNVALE RD',
 '210C COMPASSVALE LANE',
 '211A COMPASSVALE LANE',
 '213B COMPASSVALE LANE',
 '436B FERNVALE RD',
 '411B FERNVALE RD',
 '212B COMPASSVALE DR',
 '213B COMPASSVALE LANE',
 '211D COMPASSVALE LANE',
 '211D COMPASSVALE LANE',
 '210A COMPASSVALE LANE',
 '264E COMPASSVALE BOW',
 '272D SENGKANG CTRL',
 '272B SENGKANG CTRL',
 '271C SENGKANG CTRL',
 '275B COMPASSVALE LINK',
 '273D COMPASSVALE LINK',

In [104]:
test_list = addressList[0:5]
test_list

['406 ANG MO KIO AVE 10',
 '108 ANG MO KIO AVE 4',
 '602 ANG MO KIO AVE 5',
 '465 ANG MO KIO AVE 10',
 '601 ANG MO KIO AVE 5']

Using oneMap API, we will be able to get the specific coordinates of each resale flat! https://www.onemap.gov.sg/docs/#search

In [12]:
# function for getting coordinates
import requests
import json

# def getCoordinates(address):
#   request = "https://developers.onemap.sg/commonapi/search?searchVal="+address+"&returnGeom=Y&getAddrDetails=Y&pageNum=1"
#   response = eval(requests.get(request).text)
#   if len((response['results'])) > 0:
#     latitude = response['results'][0]['LATITUDE']
#     longitude = response['results'][0]['LONGITUDE']
#     postal = response['results'][0]['POSTAL']
#     return latitude, longitude, postal
#   else:
#     pass

def getCoordinates(address):
    url = "https://www.onemap.gov.sg/api/common/elastic/search?searchVal="+address+"&returnGeom=Y&getAddrDetails=Y&pageNum=1"

    response = requests.request("GET", url)

    query = json.loads(response.text)
    results = query["results"]
    latitude = results[0]["LATITUDE"]
    longitude = results[0]["LONGITUDE"]
    postal = results[0]["POSTAL"]
    
    return latitude, longitude

In [107]:
import time, copy
print('Starting timer...')
start_time = time.time()

coordinatesList = []
count = 0
count1000 = 0
failed_count = 0
for address in addressList:
    try:
        if len(getCoordinates(address))>0:
            count = count + 1
            coordinatesList.append(getCoordinates(address))
            if (count == 1000):
              count = 0
              count1000 += 1
              print('Extracting',str(count1000*1000),'out of',len(addressList),'addresses')
    except:
        count = count + 1           
        failed_count = failed_count + 1
        print('Failed to extract',count,'out of',len(addressList),'addresses')
        coordinatesList.append(None)
        if failed_count == 10:
            break
print('Total Number of Addresses With No Coordinates',failed_count)
print('Stopping timer...')
time_taken = time.time() - start_time
print('Execution time ' + str(time_taken) + 'seconds.')

Starting timer...
Extracting 1000 out of 142423 addresses
Extracting 2000 out of 142423 addresses
Extracting 3000 out of 142423 addresses
Extracting 4000 out of 142423 addresses
Extracting 5000 out of 142423 addresses
Extracting 6000 out of 142423 addresses
Extracting 7000 out of 142423 addresses
Extracting 8000 out of 142423 addresses
Extracting 9000 out of 142423 addresses
Extracting 10000 out of 142423 addresses
Extracting 11000 out of 142423 addresses
Extracting 12000 out of 142423 addresses
Extracting 13000 out of 142423 addresses
Extracting 14000 out of 142423 addresses
Extracting 15000 out of 142423 addresses
Extracting 16000 out of 142423 addresses
Extracting 17000 out of 142423 addresses
Extracting 18000 out of 142423 addresses
Extracting 19000 out of 142423 addresses
Extracting 20000 out of 142423 addresses
Extracting 21000 out of 142423 addresses
Extracting 22000 out of 142423 addresses
Extracting 23000 out of 142423 addresses
Extracting 24000 out of 142423 addresses
Extracting 25000 out of 142423 addresses
Extracting 26000 out of 142423 addresses
Extracting 27000 out of 142423 addresses
Extracting 28000 out of 142423 addresses
Extracting 29000 out of 142423 addresses
Extracting 30000 out of 142423 addresses
Extracting 31000 out of 142423 addresses
Extracting 32000 out of 142423 addresses
Extracting 33000 out of 142423 addresses
Extracting 34000 out of 142423 addresses
Extracting 35000 out of 142423 addresses
Extracting 36000 out of 142423 addresses
Extracting 37000 out of 142423 addresses
Extracting 38000 out of 142423 addresses
Extracting 39000 out of 142423 addresses
Extracting 40000 out of 142423 addresses
Extracting 41000 out of 142423 addresses
Extracting 42000 out of 142423 addresses
Extracting 43000 out of 142423 addresses
Extracting 44000 out of 142423 addresses
Extracting 45000 out of 142423 addresses
Extracting 46000 out of 142423 addresses
Extracting 47000 out of 142423 addresses
Extracting 48000 out of 142423 addresses
Extracting 49000 out of 142423 addresses
Extracting 50000 out of 142423 addresses
Extracting 51000 out of 142423 addresses
Extracting 52000 out of 142423 addresses
Extracting 53000 out of 142423 addresses
Extracting 54000 out of 142423 addresses
Extracting 55000 out of 142423 addresses
Extracting 56000 out of 142423 addresses
Extracting 57000 out of 142423 addresses
Extracting 58000 out of 142423 addresses
Extracting 59000 out of 142423 addresses
Extracting 60000 out of 142423 addresses
Extracting 61000 out of 142423 addresses
Extracting 62000 out of 142423 addresses
Extracting 63000 out of 142423 addresses
Extracting 64000 out of 142423 addresses
Extracting 65000 out of 142423 addresses
Extracting 66000 out of 142423 addresses
Extracting 67000 out of 142423 addresses
Extracting 68000 out of 142423 addresses
Extracting 69000 out of 142423 addresses
Extracting 70000 out of 142423 addresses
Extracting 71000 out of 142423 addresses
Extracting 72000 out of 142423 addresses
Extracting 73000 out of 142423 addresses
Extracting 74000 out of 142423 addresses
Extracting 75000 out of 142423 addresses
Extracting 76000 out of 142423 addresses
Extracting 77000 out of 142423 addresses
Extracting 78000 out of 142423 addresses
Extracting 79000 out of 142423 addresses
Extracting 80000 out of 142423 addresses
Extracting 81000 out of 142423 addresses
Extracting 82000 out of 142423 addresses
Extracting 83000 out of 142423 addresses
Extracting 84000 out of 142423 addresses
Extracting 85000 out of 142423 addresses
Extracting 86000 out of 142423 addresses
Extracting 87000 out of 142423 addresses
Extracting 88000 out of 142423 addresses
Extracting 89000 out of 142423 addresses
Extracting 90000 out of 142423 addresses
Extracting 91000 out of 142423 addresses
Extracting 92000 out of 142423 addresses
Extracting 93000 out of 142423 addresses
Extracting 94000 out of 142423 addresses
Extracting 95000 out of 142423 addresses
Extracting 96000 out of 142423 addresses
Extracting 97000 out of 142423 addresses
Extracting 98000 out of 142423 addresses
Extracting 99000 out of 142423 addresses
Extracting 100000 out of 142423 addresses
Extracting 101000 out of 142423 addresses
Extracting 102000 out of 142423 addresses
Extracting 103000 out of 142423 addresses
Extracting 104000 out of 142423 addresses
Extracting 105000 out of 142423 addresses
Extracting 106000 out of 142423 addresses
Extracting 107000 out of 142423 addresses
Extracting 108000 out of 142423 addresses
Extracting 109000 out of 142423 addresses
Extracting 110000 out of 142423 addresses
Extracting 111000 out of 142423 addresses
Extracting 112000 out of 142423 addresses
Extracting 113000 out of 142423 addresses
Extracting 114000 out of 142423 addresses
Extracting 115000 out of 142423 addresses
Extracting 116000 out of 142423 addresses
Extracting 117000 out of 142423 addresses
Extracting 118000 out of 142423 addresses
Extracting 119000 out of 142423 addresses
Extracting 120000 out of 142423 addresses
Extracting 121000 out of 142423 addresses
Extracting 122000 out of 142423 addresses
Extracting 123000 out of 142423 addresses
Extracting 124000 out of 142423 addresses
Extracting 125000 out of 142423 addresses
Extracting 126000 out of 142423 addresses
Extracting 127000 out of 142423 addresses
Extracting 128000 out of 142423 addresses
Extracting 129000 out of 142423 addresses
Extracting 130000 out of 142423 addresses
Extracting 131000 out of 142423 addresses
Extracting 132000 out of 142423 addresses
Extracting 133000 out of 142423 addresses
Extracting 134000 out of 142423 addresses
Extracting 135000 out of 142423 addresses
Extracting 136000 out of 142423 addresses
Extracting 137000 out of 142423 addresses
Extracting 138000 out of 142423 addresses
Extracting 139000 out of 142423 addresses
Extracting 140000 out of 142423 addresses
Extracting 141000 out of 142423 addresses
Extracting 142000 out of 142423 addresses
Total Number of Addresses With No Coordinates 0
Stopping timer...
Execution time 24585.49493575096seconds.

In [126]:
latitudeList = []
longitudeList = []
postalCodeList = []
for coordinates in coordinatesList:
        latitudeList.append(coordinates[0])
        longitudeList.append(coordinates[1])
        postalCodeList.append(coordinates[2])

IndexError: tuple index out of range

In [114]:
HDB_resale_df['latitude'] = pd.DataFrame(latitudeList)
HDB_resale_df['longitude'] = pd.DataFrame(longitudeList)
HDB_resale_df['coordinates'] = list(zip(HDB_resale_df['latitude'], HDB_resale_df['longitude']))
HDB_resale_df['postal_code'] = pd.DataFrame(postalCodeList)

In [115]:
HDB_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,transaction_month,region,storey_classification,storey_coded,region_coded,address,latitude,longitude,coordinates,postal_code
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,...,1,NORTH-EAST,high,3,3,406 ANG MO KIO AVE 10,1.36200453938712,103.853879910407,"(1.36200453938712, 103.853879910407)",560406
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,...,1,NORTH-EAST,low,1,3,108 ANG MO KIO AVE 4,1.37096635222625,103.838201940326,"(1.37096635222625, 103.838201940326)",560108
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,1,NORTH-EAST,low,1,3,602 ANG MO KIO AVE 5,1.38070883044887,103.835368226602,"(1.38070883044887, 103.835368226602)",560602
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,...,1,NORTH-EAST,mid,2,3,465 ANG MO KIO AVE 10,1.3662010408294,103.857200967235,"(1.3662010408294, 103.857200967235)",560465
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,1,NORTH-EAST,low,1,3,601 ANG MO KIO AVE 5,1.38104134784496,103.835131744823,"(1.38104134784496, 103.835131744823)",560601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142418,2022-02,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,...,2,NORTH,mid,2,1,633 YISHUN ST 61,1.41865757414383,103.839842120968,"(1.41865757414383, 103.839842120968)",760633
142419,2022-02,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,...,2,NORTH,high,3,1,632 YISHUN ST 61,1.41856736783462,103.839186937262,"(1.41856736783462, 103.839186937262)",760632
142420,2022-05,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,...,5,NORTH,mid,2,1,605 YISHUN ST 61,1.42172608902193,103.836336375801,"(1.42172608902193, 103.836336375801)",760605
142421,2022-09,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,...,9,NORTH,high,3,1,633 YISHUN ST 61,1.41865757414383,103.839842120968,"(1.41865757414383, 103.839842120968)",760633
142422,2022-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,...,10,NORTH,mid,2,1,633 YISHUN ST 61,1.41865757414383,103.839842120968,"(1.41865757414383, 103.839842120968)",760633

In [117]:
# saving transformed data to csv file
HDB_resale_df.to_csv('transformed_df.csv')

In [143]:
HDB_resale_df = pd.read_csv('transformed_df.csv')

In [144]:
# adding sector code

HDB_resale_df['sector_code'] = HDB_resale_df['postal_code'].str[:2]

In [145]:
HDB_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,region,storey_classification,storey_coded,region_coded,address,latitude,longitude,coordinates,postal_code,sector_code
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,...,NORTH-EAST,high,3,3,406 ANG MO KIO AVE 10,1.362005,103.853880,"('1.36200453938712', '103.853879910407')",560406,56
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,...,NORTH-EAST,low,1,3,108 ANG MO KIO AVE 4,1.370966,103.838202,"('1.37096635222625', '103.838201940326')",560108,56
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,NORTH-EAST,low,1,3,602 ANG MO KIO AVE 5,1.380709,103.835368,"('1.38070883044887', '103.835368226602')",560602,56
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,...,NORTH-EAST,mid,2,3,465 ANG MO KIO AVE 10,1.366201,103.857201,"('1.3662010408294', '103.857200967235')",560465,56
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,NORTH-EAST,low,1,3,601 ANG MO KIO AVE 5,1.381041,103.835132,"('1.38104134784496', '103.835131744823')",560601,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142417,2022-02,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,...,NORTH,mid,2,1,633 YISHUN ST 61,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76
142418,2022-02,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,...,NORTH,high,3,1,632 YISHUN ST 61,1.418567,103.839187,"('1.41856736783462', '103.839186937262')",760632,76
142419,2022-05,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,...,NORTH,mid,2,1,605 YISHUN ST 61,1.421726,103.836336,"('1.42172608902193', '103.836336375801')",760605,76
142420,2022-09,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,...,NORTH,high,3,1,633 YISHUN ST 61,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76
142421,2022-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,...,NORTH,mid,2,1,633 YISHUN ST 61,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76

In [163]:
latitudeList = list(HDB_resale_df['latitude'])
longitudeList = list(HDB_resale_df['longitude'])
coordinateList = []

for i in range(len(latitudeList)):
    coordinate = (latitudeList[i],longitudeList[i])
    coordinateList.append(coordinate)

In [161]:
len(coordinateList)

142422

### Adding more distanced-based features
Let's find out other amenities of interest! Such as MRT Stations, distance to CBD, shopping malls etc.

In [85]:
stationList = [
  'Kranji',
  'Marsiling',
  'Woodlands',
  'Admiralty',
  'Sembawang',
  'Canberra',
  'Yishun',
  'Khatib',
  'Woodlands North',
  'Woodlands South',
  'Springleaf',
  'Lentor',
  'Mayflower',
  'Tuas Link',
  'Tuas West Road',
  'Tuas Crescent',
  'Gul Circle',
  'Joo Koon',
  'Pioneer',
  'Boon Lay',
  'Lakeside',
  'Chinese Garden',
  'Jurong East',
  'Clementi',
  'Dover',
  'Bukit Batok',
  'Bukit Gombak',
  'Choa Chu Kang',
  'Yew Tee',
  'Yio Chu Kang',
  'Ang Mo Kio',
  'Serangoon',
  'Bartley',
  'Kovan',
  'Hougang',
  'Buangkok',
  'Sengkang',
  'Punggol',
  'Ubi',
  'Kaki Bukit',
  'Bedok North',
  'Bedok Reservoir',
  'Tampines West',
  'Tampines',
  'Tampines East',
  'Upper Changi',
  'Expo',
  'Eunos',
  'Kembangan',
  'Bedok',
  'Tanah Merah',
  'Changi Airport',
  'Simei',
  'Pasir Ris',
  'Hillview',
  'Beauty World',
  'King Albert Park',
  'Sixth Avenue',
  'Tan Kah Kee',
  'Botanic Gardens',
  'Stevens',
  'Newton',
  'Little India',
  'Rochor',
  'Bugis',
  'Promenade',
  'Bayfront',
  'Downtown',
  'Telok Ayer',
  'Chinatown',
  'Fort Canning',
  'Bencoolen',
  'Jalan Besar',
  'Bendemeer',
  'Geylang Bahru',
  'Mattar',
  'MacPherson',
  'Buona Vista',
  'Commonwealth',
  'Queenstown',
  'Redhill',
  'Tiong Bahru',
  'Outram Park',
  'Tanjong Pagar',
  'Raffles Place',
  'City Hall',
  'Lavender',
  'Kallang',
  'Aljunied',
  'Paya Lebar',
  'HarbourFront',
  'Clarke Quay',
  'Dhoby Ghaut',
  'Farrer Park',
  'Boon Keng',
  'Potong Pasir',
  'Woodleigh',
  'Bishan',
  'Braddell',
  'Toa Payoh',
  'Novena',
  'Orchard',
  'Somerset',
  'Marina Bay',
  'Marina South Pier',
  'Bright Hill',
  'Upper Thomson',
  'Caldecott',
  'Napier',
  'Orchard Boulevard',
  'Great World',
  'Havelock',
  'Maxwell',
  'Shenton Way',
  'Gardens by the Bay',
  'Telok Blangah',
  'Labrador Park',
  'Pasir Panjang',
  'Haw Par Villa',
  'Kent Ridge',
  'one-north',
  'Holland Village',
  'Farrer Road',
  'Marymount',
  'Lorong Chuan',
  'Tai Seng',
  'Dakota',
  'Mountbatten',
  'Stadium',
  'Nicoll Highway',
  'Esplanade',
  'Bras Basah'
]

def getStationCoordinates(station):
  request = "https://developers.onemap.sg/commonapi/search?searchVal="+station+" mrt station" + "&returnGeom=Y&getAddrDetails=Y&pageNum=1"
  # print(request)
  response = eval(requests.get(request).text)
  if len((response['results'])) > 0:
    latitude = response['results'][0]['LATITUDE']
    longitude = response['results'][0]['LONGITUDE']
    return latitude, longitude
  else:
    pass

In [86]:
import time, copy
print('Starting timer...')
start_time = time.time()

stationCoordinatesList = []
count = 0
failed_count = 0
for station in stationList:
    try:
        if len(getStationCoordinates(station))>0:
            count = count + 1
            stationCoordinatesList.append(getStationCoordinates(station))
    except:
        count = count + 1           
        failed_count = failed_count + 1
        print('Failed to extract',count,'out of',len(stationList),'addresses')
        stationCoordinatesList.append(None)
print('Total Number of Addresses With No Coordinates',failed_count)
print('Stopping timer...')
time_taken = time.time() - start_time
print('Execution time ' + str(time_taken) + 'seconds.')
print('Station Coordinates:')
print(stationCoordinatesList)
print('==============================')

Starting timer...
Total Number of Addresses With No Coordinates 0
Stopping timer...
Execution time 20.270045042037964seconds.
Station Coordinates:
[('1.42508698073648', '103.762137459497'), ('1.43252114855026', '103.774074641403'), ('1.43605761708128', '103.787938777173'), ('1.44058856161847', '103.800990519771'), ('1.44905082158502', '103.820046140211'), ('1.44307664075699', '103.829702590959'), ('1.42944308477331', '103.835005047246'), ('1.41738337009565', '103.832979908243'), ('1.44778217342648', '103.7851355073'), ('1.42748811362716', '103.792729941333'), ('1.39758106126824', '103.817856949947'), ('1.38550657972169', '103.835743809669'), ('1.37146318831015', '103.836567766945'), ('1.34088242451105', '103.636991425128'), ('1.32998504653102', '103.639616648771'), ('1.32102695598684', '103.649078235627'), ('1.31947090075208', '103.660530461345'), ('1.3277170408447', '103.678374996165'), ('1.33758701106708', '103.697321608474'), ('1.33860405469845', '103.706064622772'), ('1.34425911493819', '103.720949087456'), ('1.34235282081401', '103.732596738363'), ('1.33329506563598', '103.742153884191'), ('1.31511625277378', '103.765191452888'), ('1.31140529320963', '103.778637841909'), ('1.34903331201636', '103.749566478309'), ('1.35861159094192', '103.751790910733'), ('1.38536316540225', '103.744370779756'), ('1.39757979021386', '103.747459490883'), ('1.38168259989517', '103.844991053696'), ('1.36942855699191', '103.849455226442'), ('1.35063361526525', '103.872771660431'), ('1.34250117805245', '103.880177899184'), ('1.36017917065237', '103.885064856353'), ('1.37129226620797', '103.892380513029'), ('1.38287001971672', '103.893122569706'), ('1.39169462601522', '103.895484694279'), ('1.41492733388605', '103.910166388177'), ('1.32997425973974', '103.899226655439'), ('1.33503853739157', '103.908775991205'), ('1.33474211664091', '103.91797832995'), ('1.33660782955099', '103.932234623286'), ('1.3456336579777', '103.938492495285'), ('1.34551530560119', '103.938436971222'), ('1.35619148271544', '103.9546344625'), ('1.34173977444995', '103.961472788634'), ('1.33538252614956', '103.962374747451'), ('1.31978354916088', '103.903225807255'), ('1.3210381335934', '103.912947930851'), ('1.32040148729112', '103.957183823478'), ('1.32726231910776', '103.946771460749'), ('1.35747897447692', '103.98788356959'), ('1.34319707851829', '103.953377214378'), ('1.37300805046319', '103.949265083922'), ('1.36234486803558', '103.767418254007'), ('1.34122317558549', '103.775794285083'), ('1.335893496278', '103.783235863233'), ('1.33096058134451', '103.796969279733'), ('1.32639224146351', '103.806548201692'), ('1.32219000242716', '103.815121122527'), ('1.32006555750626', '103.826024401924'), ('1.3123189224097', '103.837984594021'), ('1.30724381608438', '103.849841614124'), ('1.30385218527656', '103.852769428884'), ('1.30046508509717', '103.855706730933'), ('1.29399798636232', '103.860350000188'), ('1.28187378879209', '103.859079764874'), ('1.27944638178916', '103.852840829581'), ('1.28206894769394', '103.848648781083'), ('1.28422391919085', '103.845143798953'), ('1.29248194822996', '103.844331362465'), ('1.29891843369422', '103.850353762717'), ('1.3051713878069', '103.855295713435'), ('1.31367252847691', '103.862977620945'), ('1.32130110228321', '103.871622627142'), ('1.32687671501334', '103.883247509542'), ('1.32615024457361', '103.889298600376'), ('1.3072237082044', '103.790253514502'), ('1.30250199924325', '103.798228523336'), ('1.29455085184931', '103.806077155982'), ('1.28963453412887', '103.81674097205'), ('1.28610253588403', '103.827445112691'), ('1.27972059383553', '103.839439862425'), ('1.27656829207824', '103.846006679025'), ('1.28393326207164', '103.851463066756'), ('1.29293672227779', '103.852585580366'), ('1.30737781747063', '103.862767633888'), ('1.31148890998818', '103.871386541754'), ('1.3164326118157', '103.882906044385'), ('1.31719911972353', '103.8923648823'), ('1.26538938374901', '103.821530157095'), ('1.28838602407588', '103.846555209694'), ('1.29870132536119', '103.846113677951'), ('1.31314029963164', '103.854754721344'), ('1.31993957653291', '103.862052698446'), ('1.33137808528793', '103.869363547741'), ('1.33919004519388', '103.87081830915'), ('1.35131580146658', '103.84914026532'), ('1.3404690010277', '103.846799083148'), ('1.33259672794159', '103.847577286075'), ('1.32044079120154', '103.843825618748'), ('1.30242224836722', '103.823868523249'), ('1.30026416739006', '103.839085753124'), ('1.27631114381584', '103.854604975361'), ('1.27102703612006', '103.862447515736'), ('1.36384676605097', '103.833899206658'), ('1.35441643365401', '103.832898468504'), ('1.33724561271722', '103.840161782075'), ('1.30678223364785', '103.818956796815'), ('1.30362307278619', '103.82365038919'), ('1.2933164567796', '103.833906630914'), ('1.28850523975311', '103.833585838226'), ('1.28053329842878', '103.843883670633'), ('1.2777168283425', '103.850367596067'), ('1.27848725876303', '103.867454664421'), ('1.27070647772509', '103.809761611219'), ('1.27236838626952', '103.803416232089'), ('1.27621352233766', '103.791350313288'), ('1.28257135772488', '103.781752725064'), ('1.29353349887123', '103.784572738173'), ('1.29968953488969', '103.787412789536'), ('1.31226422601049', '103.796470444998'), ('1.31743915158967', '103.807379214161'), ('1.348707263451', '103.839423132332'), ('1.35153128621585', '103.864812169514'), ('1.33533999302463', '103.888265446029'), ('1.30854798388121', '103.889064718377'), ('1.30620190525331', '103.882528081052'), ('1.3028124684707', '103.875337711089'), ('1.29958736473477', '103.864040115181'), ('1.2936577245386', '103.855081226245'), ('1.2967526221395', '103.850918752694')]
==============================

In [87]:
latitudeList = []
longitudeList = []
for stationCoordinates in stationCoordinatesList:
  latitudeList.append(stationCoordinates[0])
  longitudeList.append(stationCoordinates[1])

In [88]:
# Now to get LRT Stations!

LRTStationList = [
    'South View',
    'Keat Hong',
    'Teck Whye',
    'Phoenix',
    'Petir',
    'Pending',
    'Bangkit',
    'Fajar',
    'Segar',
    'Jelapang',
    'Senja',
    'Compassvale',
    'Rumbia',
    'Bakau',
    'Kangkar',
    'Ranggung',
    'Cheng Lim',
    'Farmway',
    'Kupang',
    'Thanggam',
    'Fernvale',
    'Layar',
    'Tongkang',
    'Renjong',
    'Damai',
    'Oasis',
    'Kadaloor',
    'Riviera',
    'Coral Edge',
    'Meridian',
    'Cove',
    'Sam Kee',
    'Teck Lee',
    'Punggol Point',
    'Samudera',
    'Nibong',
    'Sumang',
    'Soo Teck'
]

def getLRTStationCoordinates(station):
  request = "https://developers.onemap.sg/commonapi/search?searchVal="+station+" LRT station" + "&returnGeom=Y&getAddrDetails=Y&pageNum=1"
  # print(request)
  response = eval(requests.get(request).text)
  if len((response['results'])) > 0:
    latitude = response['results'][0]['LATITUDE']
    longitude = response['results'][0]['LONGITUDE']
    return latitude, longitude
  else:
    pass

In [89]:
import time, copy
print('Starting timer...')
start_time = time.time()

LRTstationCoordinatesList = []
count = 0
failed_count = 0
for station in LRTStationList:
    try:
        if len(getLRTStationCoordinates(station))>0:
            count = count + 1
            LRTstationCoordinatesList.append(getLRTStationCoordinates(station))
    except:
        count = count + 1           
        failed_count = failed_count + 1
        print('Failed to extract',count,'out of',len(stationList),'addresses')
        LRTstationCoordinatesList.append(None)
print('Total Number of Addresses With No Coordinates',failed_count)
print('Stopping timer...')
time_taken = time.time() - start_time
print('Execution time ' + str(time_taken) + 'seconds.')
print('Station Coordinates:')
print(LRTstationCoordinatesList)
print('==============================')

Starting timer...
Total Number of Addresses With No Coordinates 0
Stopping timer...
Execution time 5.362050771713257seconds.
Station Coordinates:
[('1.38029828742399', '103.745291799824'), ('1.3786032506373', '103.749055668925'), ('1.37668467920808', '103.753712232337'), ('1.37861545104083', '103.757995558346'), ('1.37777204259082', '103.766645782497'), ('1.37613574334988', '103.771261175571'), ('1.38002223010088', '103.772647370452'), ('1.38457317668026', '103.770887223018'), ('1.38778508663361', '103.769599685249'), ('1.38673926997961', '103.76453408646'), ('1.38272547134453', '103.76234425472'), ('1.39449304450373', '103.900492450944'), ('1.39146849534132', '103.90597359341'), ('1.38799431054768', '103.905415300171'), ('1.38395911688913', '103.90222537044'), ('1.38423355918277', '103.897194667804'), ('1.39627763344324', '103.893797181731'), ('1.39717019591821', '103.889304824196'), ('1.39821283031379', '103.881256222255'), ('1.39731815581938', '103.875635154729'), ('1.39188589234766', '103.87630862552'), ('1.39207983659997', '103.880029600546'), ('1.38934794658941', '103.885844150116'), ('1.38670058991904', '103.89062131608'), ('1.40523483636957', '103.908603542566'), ('1.40228667971123', '103.912727352412'), ('1.39950910636258', '103.916574974234'), ('1.39451978540251', '103.916169381157'), ('1.39390922863313', '103.912580845515'), ('1.3969120498774', '103.908950224489'), ('1.39928198837342', '103.905961941214'), ('1.40961268528804', '103.904831550608'), ('1.4127708937463', '103.906577622768'), ('1.41684852031206', '103.906650789313'), ('1.41590172160383', '103.902156317163'), ('1.41185447744238', '103.900339452055'), ('1.40845241943079', '103.898558450395'), ('1.40532331860455', '103.897290522033')]
==============================

In [91]:
for station in LRTStationList:
    stationList.append(station)
    
for stationCoordinates in LRTstationCoordinatesList:
  latitudeList.append(stationCoordinates[0])
  longitudeList.append(stationCoordinates[1])

In [99]:
station_df = pd.DataFrame()
station_df['station'] = pd.DataFrame(stationList)
station_df['latitude'] = pd.DataFrame(latitudeList)
station_df['longitude'] = pd.DataFrame(longitudeList)
station_df['coordinates'] = list(zip(station_df['latitude'], station_df['longitude']))
station_df.head()

# saving station data to csv file
station_df.to_csv('station_df.csv')

Now to find malls

In [28]:
#List of malls

mallList = [
    '100 AM',
    '313@Somerset',
    'Aperia',
    'Balestier Hill Shopping Centre',
    'Bugis Cube',
    'Bugis Junction',
    'Bugis+',
    'Capitol Piazza',
    'Cathay Cineleisure Orchard',
    'The Centrepoint',
    'City Square Mall',
    'CityLink Mall',
    'Duo',
    'Far East Plaza',
    'Funan',
    'Great World City',
    'HDB Hub',
    'Holland Road Shopping Centre',
    'Raffles Holland V',
    'ION Orchard',
    'Junction 8',
    'Knightsbridge',
    'Liat Towers',
    'Lucky Plaza',
    'Marina Bay Sands',
    'The Shoppes at Marina Bay Sands',
    'Marina Bay Link Mall',
    'Marina Square',
    'Millenia Walk',
    'Mustafa',
    'Ngee Ann City',
    'Orchard Central',
    'Orchard Gateway',
    'Orchard Plaza',
    'Midpoint Orchard',
    'Palais Renaissance',
    "People's Park Centre",
    "People's Park Complex",
    'Plaza Singapura',
    "GR.iD",
    'Raffles City',
    'Scotts Square',
    '350 ORCHARD ROAD SHAW HOUSE',
    'Sim Lim Square',
    'Singapore Shopping Centre',
    'The South Beach',
    'Square 2',
    'Sunshine Plaza',
    'Suntec City',
    'Tanglin Mall',
    'Tanjong Pagar Centre',
    'Tekka Centre',
    'The Adelphi',
    'The Paragon',
    'Tiong Bahru Plaza',
    'The Poiz',
    'Thomson Plaza',
    'United Square',
    'Thomson V',
    'Velocity@Novena Square',
    'Wheelock Place',
    'Wisma Atria',
    'Zhongshan Mall',
    'Bedok Mall',
    'Century Square',
    'Our Tampines Hub',
    'Changi City Point',
    'Downtown East',
    'Djitsun Mall Bedok',
    'Eastpoint Mall',
    'Jewel Changi Airport',
    'KINEX',
    'Katong Shopping Centre',
    'Katong Square',
    'Kallang Wave Mall',
    'Leisure Park Kallang',
    'i12 Katong',
    'Parkway Parade',
    'Paya Lebar Square',
    'Paya Lebar Quarter',
    'Roxy Square',
    'Singpost Centre',
    'Tampines 1',
    'Tampines Mall',
    'White Sands',
    'City Plaza',
    'Elias Mall',
    'Loyang Point',
    '888 Plaza',
    'Admiralty Place',
    'AMK Hub',
    'Canberra Plaza',
    'Causeway Point',
    'Woodlands Civic Centre',
    'Broadway Plaza',
    'Djitsun Mall',
    'Jubilee Square',
    'Junction 8',
    'Junction Nine',
    'Marsiling Mall',
    'Northpoint City',
    'Sembawang Shopping Centre',
    'Sun Plaza',
    'Vista Point',
    'Wisteria Mall',
    'Woodlands Mart',
    'Woodlands North Plaza',
    'Waterway Point',
    'Compass One',
    'Hougang Mall',
    'Heartland Mall',
    'NEX',
    'Buangkok Square',
    'Greenwich V',
    'Hougang 1',
    'Hougang Green Shopping Mall',
    'Hougang Rivercourt',
    'myVillage At Serangoon Garden',
    'Northshore Plaza',
    'Oasis Terraces',
    'Punggol Plaza',
    'Rivervale Mall',
    'Rivervale Plaza',
    'The Seletar Mall',
    'Upper Serangoon Shopping Centre',
    'Beauty World Centre',
    'Beauty World Plaza',
    'Bukit Panjang Plaza',
    'Bukit Timah Plaza',
    'Fajar Shopping Centre',
    'Greenridge Shopping Centre',
    'Hillion Mall',
    'HillV2',
    'Junction 10',
    'Keat Hong Shopping Centre',
    'Limbang Shopping Centre',
    'Lot One',
    'Rail Mall',
    'Sunshine Place',
    'Teck Whye Shopping Centre',
    'West Mall',
    'Yew Tee Point',
    'Yew Tee Square',
    'VivoCity',
    'HarbourFront Centre',
    'Alexandra Retail Centre',
    '321 Clementi',
    'The Clementi Mall',
    'IMM',
    'Jem',
    'Westgate',
    'Jurong Point',
    'Pioneer Mall',
    'The Star Vista',
    'Alexandra Central',
    'Anchorpoint',
    'The Grandstand',
    'Boon Lay Shopping Centre',
    'Grantral Mall',
    'Fairprice Hub',
    'Gek Poh Shopping Centre',
    'Rochester Mall',
    'Taman Jurong Shopping Centre',
    'West Coast Plaza',
    'Queensway Shopping Centre'
]

In [29]:
mallCoordinatesList = []
count = 0
failed_count = 0
for mall in mallList:
    try:
        mall_coordinates = getCoordinates(mall)
        count += 1
        mallCoordinatesList.append(mall_coordinates)
    except:
        count += 1
        failed_count += 1
        print(mall)
        print('Failed to extract',count,'out of',len(mallList),'addresses')
        mallCoordinatesList.append(np.nan)
        
print('Total Number of Addresses With No Coordinates',failed_count)
print('Mall Coordinates:')
print(mallCoordinatesList)
print('==============================')

Total Number of Addresses With No Coordinates 0
Mall Coordinates:
[('1.27458821795426', '103.84347073661'), ('1.30100656917241', '103.838246592796'), ('1.31086672816827', '103.863929573292'), ('1.32559594839311', '103.842571612968'), ('1.2981408343975', '103.855635339249'), ('1.29911287475873', '103.855411173758'), ('1.30095171530648', '103.855172625542'), ('1.29307884763132', '103.851261982149'), ('1.30149264852924', '103.836406753067'), ('1.30197836876806', '103.839759023144'), ('1.31142103107683', '103.856624019991'), ('1.2927777312893', '103.854173501417'), ('1.29953434891664', '103.85840168774'), ('1.30738819608479', '103.833803262332'), ('1.29134759697794', '103.849989790085'), ('1.2934759620704', '103.831975865363'), ('1.33201387005935', '103.84984949662'), ('1.31027747574118', '103.795371163103'), ('1.31056351475336', '103.796107173318'), ('1.30419142102398', '103.831510144742'), ('1.35031600039774', '103.848496645294'), ('1.3029831225958', '103.836283923443'), ('1.30508722710852', '103.830722581168'), ('1.3044637897474', '103.834005158524'), ('1.28342297945301', '103.86079514091'), ('1.28423496027027', '103.85898228297'), ('1.28003113385646', '103.854284863268'), ('1.29159480494333', '103.857048715656'), ('1.29267926922552', '103.860302888543'), ('1.31011213190394', '103.855290873926'), ('1.3022727300848', '103.834899517575'), ('1.30083890839245', '103.839434733899'), ('1.30160116957544', '103.838868886519'), ('1.30125729409965', '103.841150144584'), ('1.30177313264942', '103.838659652851'), ('1.30665484543191', '103.829588045188'), ('1.28577009981805', '103.843980122838'), ('1.28404487854559', '103.842590753293'), ('1.30083497231103', '103.845072925117'), ('1.30010826723486', '103.849264127911'), ('1.29408304748297', '103.853339531257'), ('1.30585582603508', '103.832984356543'), ('1.30580981580562', '103.831507365654'), ('1.30302298414827', '103.853038663425'), ('1.28649701803051', '103.844628721032'), ('1.29498804392056', '103.856276242094'), ('1.27822949964567', '103.850812513482'), ('1.30046735366415', '103.850556061949'), ('1.29350132535558', '103.857307495824'), ('1.30485342102105', '103.823883490852'), ('1.2755961982077', '103.842393171342'), ('1.30671098278725', '103.85013440636'), ('1.29118503658447', '103.851184338699'), ('1.30375855987932', '103.835240308481'), ('1.28644021678218', '103.827450721571'), ('1.33202729656296', '103.868659488195'), ('1.35436282723449', '103.83030941613'), ('1.31724362960663', '103.844003130499'), ('1.35319495337208', '103.835564729862'), ('1.31978949204523', '103.844033569199'), ('1.30467628730252', '103.830642027577'), ('1.30368769989282', '103.833203583562'), ('1.32694504484324', '103.846554377679'), ('1.32475054237912', '103.92918919889'), ('1.35236829566862', '103.943812302253'), ('1.35218046898785', '103.940598001519'), ('1.33408363820793', '103.962946043413'), ('1.37912717878008', '103.955444758145'), ('1.32611970329469', '103.929554495615'), ('1.34270592355576', '103.953024618234'), ('1.36023106736765', '103.989457201894'), ('1.31461849889242', '103.894738004768'), ('1.3040973115095', '103.901515916971'), ('1.30477683917233', '103.904617722414'), ('1.30307515150401', '103.873149707591'), ('1.30192883841134', '103.876208170362'), ('1.30522306203042', '103.905043928938'), ('1.30091736056425', '103.90533928065'), ('1.31881486980278', '103.892580778242'), ('1.31752384637596', '103.892724428994'), ('1.30432599904899', '103.904051120306'), ('1.31899666903663', '103.894894915962'), ('1.37169334607241', '103.932924563561'), ('1.35252737278519', '103.944698751072'), ('1.37228761596577', '103.949733905672'), ('1.31480226743889', '103.893477464106'), ('1.37782876616465', '103.942364336974'), ('1.36706634197242', '103.964635610477'), ('1.43711856085535', '103.795316064775'), ('1.44042008562425', '103.801541769047'), ('1.36922522142582', '103.848493192474'), ('1.44349544527985', '103.830345369213'), ('1.43590007901468', '103.785795816344'), ('1.43515024446739', '103.786816106255'), ('1.37193729131781', '103.845949444498'), ('1.32611970329469', '103.929554495615'), ('1.37178558575829', '103.847837565378'), ('1.35031600039774', '103.848496645294'), ('1.43306021695327', '103.841649364872'), ('1.43354318137534', '103.77988189197'), ('1.42822560922688', '103.836419992398'), ('1.44185307934021', '103.824970378482'), ('1.44819535371132', '103.819502127155'), ('1.4308011390122', '103.794104795966'), ('1.41798969122298', '103.841317292608'), ('1.44564787003157', '103.798162285805'), ('1.44275334327795', '103.790548015512'), ('1.4064128346795', '103.902188891645'), ('1.39205314156706', '103.89507054384'), ('1.37248308734511', '103.893788141349'), ('1.35954450890401', '103.885169070198'), ('1.35076935257845', '103.872296143862'), ('1.38433426615655', '103.881623070164'), ('1.38739539397015', '103.869135978173'), ('1.35664284566921', '103.889828868222'), ('1.37931783499145', '103.88784708944'), ('1.36274851459883', '103.894906998774'), ('1.36511490572797', '103.865159501442'), ('1.41676127156324', '103.902074379502'), ('1.40278015725693', '103.913215101343'), ('1.39417447299355', '103.913120037036'), ('1.39221732695142', '103.904473070943'), ('1.38544833801428', '103.901925969477'), ('1.39150192642807', '103.87617162828'), ('1.35348082277147', '103.878828134896'), ('1.34241264188642', '103.776539385406'), ('1.34180018619223', '103.776259359854'), ('1.38052239451717', '103.764051414862'), ('1.33875930729064', '103.778600077834'), ('1.38357469942896', '103.770868459633'), ('1.38540569283271', '103.766228468185'), ('1.37843100827586', '103.762842789877'), ('1.36267450828024', '103.76417292006'), ('1.38018163022688', '103.76041930548'), ('1.37736607441394', '103.744393648768'), ('1.3920738867617', '103.743099573442'), ('1.38506992325619', '103.745238868238'), ('1.35773050150178', '103.768137724847'), ('1.37789727709418', '103.739015486021'), ('1.38004752975397', '103.752483841199'), ('1.35037541626109', '103.74912389291'), ('1.39708432396576', '103.746598000147'), ('1.39836942665376', '103.747188486453'), ('1.26429316783973', '103.82230469365'), ('1.26393160324447', '103.820112171695'), ('1.27384263888449', '103.801375038176'), ('1.31200212030821', '103.764986676365'), ('1.31489619639366', '103.764423054189'), ('1.33487526118006', '103.746894773008'), ('1.33305999269581', '103.743503708169'), ('1.33415767556867', '103.742766484424'), ('1.3394520043632', '103.706685012926'), ('1.34169239214292', '103.697174842118'), ('1.30681500712523', '103.788462732266'), ('1.28728320930592', '103.805283367958'), ('1.28861469030586', '103.805009964592'), ('1.33759373277131', '103.793707423659'), ('1.34633552457315', '103.712430373455'), ('1.31427043922294', '103.765147487482'), ('1.32561767765205', '103.678409741897'), ('1.3487416466288', '103.697739629738'), ('1.30540765569962', '103.788446680148'), ('1.33484487471259', '103.720462024278'), ('1.30358622534992', '103.76610375397'), ('1.28759518939869', '103.803397287789')]
==============================

In [27]:
latitudeList = []
longitudeList = []
for mallCoordinates in mallCoordinatesList:
    latitudeList.append(mallCoordinates[0])
    longitudeList.append(mallCoordinates[1])
    
print(latitudeList)

('1.27458821795426', '103.84347073661')
1.27458821795426
('1.30100656917241', '103.838246592796')
1.30100656917241
('1.31086672816827', '103.863929573292')
1.31086672816827
('1.32559594839311', '103.842571612968')
1.32559594839311
('1.2981408343975', '103.855635339249')
1.2981408343975
('1.29911287475873', '103.855411173758')
1.29911287475873
('1.30095171530648', '103.855172625542')
1.30095171530648
('1.29307884763132', '103.851261982149')
1.29307884763132
('1.30149264852924', '103.836406753067')
1.30149264852924
('1.30197836876806', '103.839759023144')
1.30197836876806
('1.31142103107683', '103.856624019991')
1.31142103107683
('1.2927777312893', '103.854173501417')
1.2927777312893
('1.29953434891664', '103.85840168774')
1.29953434891664
('1.30730468891062', '103.833818438639')
1.30730468891062
('1.29134759697794', '103.849989790085')
1.29134759697794
('1.2934759620704', '103.831975865363')
1.2934759620704
('1.33201387005935', '103.84984949662')
1.33201387005935
('1.31027747574118', '103.795371163103')
1.31027747574118
('1.31056351475336', '103.796107173318')
1.31056351475336
('1.30419142102398', '103.831510144742')
1.30419142102398
('1.35031600039774', '103.848496645294')
1.35031600039774
('1.3029831225958', '103.836283923443')
1.3029831225958
('1.30508722710852', '103.830722581168')
1.30508722710852
('1.3044637897474', '103.834005158524')
1.3044637897474
('1.28342297945301', '103.86079514091')
1.28342297945301
('1.28423496027027', '103.85898228297')
1.28423496027027
('1.28003113385646', '103.854284863268')
1.28003113385646
('1.29159480494333', '103.857048715656')
1.29159480494333
('1.29267926922552', '103.860302888543')
1.29267926922552
('1.31011213190394', '103.855290873926')
1.31011213190394
('1.3022727300848', '103.834899517575')
1.3022727300848
('1.30083890839245', '103.839434733899')
1.30083890839245
('1.30160116957544', '103.838868886519')
1.30160116957544
('1.30125729409965', '103.841150144584')
1.30125729409965
('1.30177313264942', '103.838659652851')
1.30177313264942
('1.30665484543191', '103.829588045188')
1.30665484543191
('1.28577009981805', '103.843980122838')
1.28577009981805
('1.28404487854559', '103.842590753293')
1.28404487854559
('1.30083497231103', '103.845072925117')
1.30083497231103
('1.30010826723486', '103.849264127911')
1.30010826723486
('1.29408304748297', '103.853339531257')
1.29408304748297
('1.30585582603508', '103.832984356543')
1.30585582603508
('1.30580981580562', '103.831507365654')
1.30580981580562
('1.30302298414827', '103.853038663425')
1.30302298414827
('1.28649701803051', '103.844628721032')
1.28649701803051
('1.29498804392056', '103.856276242094')
1.29498804392056
('1.27822949964567', '103.850812513482')
1.27822949964567
('1.30046735366415', '103.850556061949')
1.30046735366415
('1.29350132535558', '103.857307495824')
1.29350132535558
('1.30485342102105', '103.823883490852')
1.30485342102105
('1.2755961982077', '103.842393171342')
1.2755961982077
('1.30671098278725', '103.85013440636')
1.30671098278725
('1.29118503658447', '103.851184338699')
1.29118503658447
('1.30375855987932', '103.835240308481')
1.30375855987932
('1.28644021678218', '103.827450721571')
1.28644021678218
('1.33202729656296', '103.868659488195')
1.33202729656296
('1.35436282723449', '103.83030941613')
1.35436282723449
('1.31724362960663', '103.844003130499')
1.31724362960663
('1.35319495337208', '103.835564729862')
1.35319495337208
('1.31978949204523', '103.844033569199')
1.31978949204523
('1.30467628730252', '103.830642027577')
1.30467628730252
('1.30368769989282', '103.833203583562')
1.30368769989282
('1.32694504484324', '103.846554377679')
1.32694504484324
('1.32475054237912', '103.92918919889')
1.32475054237912
('1.35236829566862', '103.943812302253')
1.35236829566862
('1.35218046898785', '103.940598001519')
1.35218046898785
('1.33408363820793', '103.962946043413')
1.33408363820793
('1.37912717878008', '103.955444758145')
1.37912717878008
('1.32611970329469', '103.929554495615')
1.32611970329469
('1.34270592355576', '103.953024618234')
1.34270592355576
('1.36023106736765', '103.989457201894')
1.36023106736765
('1.31461849889242', '103.894738004768')
1.31461849889242
('1.3040973115095', '103.901515916971')
1.3040973115095
('1.30477683917233', '103.904617722414')
1.30477683917233
('1.30307515150401', '103.873149707591')
1.30307515150401
('1.30192883841134', '103.876208170362')
1.30192883841134
('1.30522306203042', '103.905043928938')
1.30522306203042
('1.30091736056425', '103.90533928065')
1.30091736056425
('1.31881486980278', '103.892580778242')
1.31881486980278
('1.31752384637596', '103.892724428994')
1.31752384637596
('1.30432599904899', '103.904051120306')
1.30432599904899
('1.31899666903663', '103.894894915962')
1.31899666903663
('1.37169334607241', '103.932924563561')
1.37169334607241
('1.35252737278519', '103.944698751072')
1.35252737278519
('1.37228761596577', '103.949733905672')
1.37228761596577
('1.31480226743889', '103.893477464106')
1.31480226743889
('1.37782876616465', '103.942364336974')
1.37782876616465
('1.36706634197242', '103.964635610477')
1.36706634197242
('1.43711856085535', '103.795316064775')
1.43711856085535
('1.44042008562425', '103.801541769047')
1.44042008562425
('1.36922522142582', '103.848493192474')
1.36922522142582
('1.44349544527985', '103.830345369213')
1.44349544527985
('1.43590007901468', '103.785795816344')
1.43590007901468
('1.43515024446739', '103.786816106255')
1.43515024446739
('1.37193729131781', '103.845949444498')
1.37193729131781
('1.32611970329469', '103.929554495615')
1.32611970329469
('1.37178558575829', '103.847837565378')
1.37178558575829
('1.35031600039774', '103.848496645294')
1.35031600039774
('1.43306021695327', '103.841649364872')
1.43306021695327
('1.43354318137534', '103.77988189197')
1.43354318137534
('1.42822560922688', '103.836419992398')
1.42822560922688
('1.44185307934021', '103.824970378482')
1.44185307934021
('1.44819535371132', '103.819502127155')
1.44819535371132
('1.4308011390122', '103.794104795966')
1.4308011390122
('1.41798969122298', '103.841317292608')
1.41798969122298
('1.44564787003157', '103.798162285805')
1.44564787003157
('1.44275334327795', '103.790548015512')
1.44275334327795
('1.4064128346795', '103.902188891645')
1.4064128346795
('1.39205314156706', '103.89507054384')
1.39205314156706
('1.37248308734511', '103.893788141349')
1.37248308734511
('1.35954450890401', '103.885169070198')
1.35954450890401
('1.35076935257845', '103.872296143862')
1.35076935257845
('1.38433426615655', '103.881623070164')
1.38433426615655
('1.38739539397015', '103.869135978173')
1.38739539397015
('1.35664284566921', '103.889828868222')
1.35664284566921
('1.37931783499145', '103.88784708944')
1.37931783499145
('1.36274851459883', '103.894906998774')
1.36274851459883
('1.36511490572797', '103.865159501442')
1.36511490572797
('1.41676127156324', '103.902074379502')
1.41676127156324
('1.40278015725693', '103.913215101343')
1.40278015725693
('1.39417447299355', '103.913120037036')
1.39417447299355
('1.39221732695142', '103.904473070943')
1.39221732695142
('1.38544833801428', '103.901925969477')
1.38544833801428
('1.39150192642807', '103.87617162828')
1.39150192642807
('1.35348082277147', '103.878828134896')
1.35348082277147
('1.34241264188642', '103.776539385406')
1.34241264188642
('1.34180018619223', '103.776259359854')
1.34180018619223
('1.38052239451717', '103.764051414862')
1.38052239451717
('1.33875930729064', '103.778600077834')
1.33875930729064
('1.38357469942896', '103.770868459633')
1.38357469942896
('1.38540569283271', '103.766228468185')
1.38540569283271
('1.37843100827586', '103.762842789877')
1.37843100827586
('1.36267450828024', '103.76417292006')
1.36267450828024
('1.38018163022688', '103.76041930548')
1.38018163022688
('1.37736607441394', '103.744393648768')
1.37736607441394
('1.3920738867617', '103.743099573442')
1.3920738867617
('1.38506992325619', '103.745238868238')
1.38506992325619
('1.35773050150178', '103.768137724847')
1.35773050150178
('1.37789727709418', '103.739015486021')
1.37789727709418
('1.38004752975397', '103.752483841199')
1.38004752975397
('1.35037541626109', '103.74912389291')
1.35037541626109
('1.39708432396576', '103.746598000147')
1.39708432396576
('1.39836942665376', '103.747188486453')
1.39836942665376
('1.26429316783973', '103.82230469365')
1.26429316783973
('1.26393160324447', '103.820112171695')
1.26393160324447
('1.27384263888449', '103.801375038176')
1.27384263888449
('1.31200212030821', '103.764986676365')
1.31200212030821
('1.31489619639366', '103.764423054189')
1.31489619639366
('1.33487526118006', '103.746894773008')
1.33487526118006
nan

TypeError: 'float' object is not subscriptable

In [32]:
latitudeList = []
longitudeList = []
for mallCoordinates in mallCoordinatesList:
  latitudeList.append(float(mallCoordinates[0]))
  longitudeList.append(float(mallCoordinates[1]))
    
Mall_df = pd.DataFrame()
Mall_df['mall'] = pd.DataFrame(mallList)
Mall_df['latitude'] = pd.DataFrame(latitudeList)
Mall_df['longitude'] = pd.DataFrame(longitudeList)
Mall_df['coordinates'] = list(zip(Mall_df['latitude'], Mall_df['longitude']))

# saving MRT data to csv file
Mall_df.to_csv('Mall_df.csv')

Calculating distance from resale flat to areas of interest (eg CBD, MRT Stations, Shopping Malls)

With latitude and longitude of two given areas, we are able to calculate their distance. However, we cannot use euclidean distance as the earth is a sphere. Hence, we need to use haversine formula instead to determine the great-circle distance between two points.

To calculate distance from CBD, we will assume Raffles MRT Station as CBD

In [47]:
!pip install haversine

import haversine as hs

Requirement already satisfied: haversine in c:\users\elija\anaconda3\lib\site-packages (2.7.0)

In [147]:
coordinatesList

["('1.36200453938712', '103.853879910407')",
 "('1.37096635222625', '103.838201940326')",
 "('1.38070883044887', '103.835368226602')",
 "('1.3662010408294', '103.857200967235')",
 "('1.38104134784496', '103.835131744823')",
 "('1.37680678506745', '103.842017962576')",
 "('1.36750371103856', '103.855897952833')",
 "('1.36511907555698', '103.841742483384')",
 "('1.36750371103856', '103.855897952833')",
 "('1.37005500420092', '103.854880566919')",
 "('1.37405846295585', '103.854168170426')",
 "('1.36754924977907', '103.836740628478')",
 "('1.36682360872342', '103.83649123351')",
 "('1.36598198004505', '103.840654039612')",
 "('1.37447378519738', '103.854100515826')",
 "('1.36885445228086', '103.837896397823')",
 "('1.3697435855576', '103.856023138277')",
 "('1.38156171229824', '103.84000226873')",
 "('1.36605027829032', '103.854168309853')",
 "('1.38219867741921', '103.841211533475')",
 "('1.36956344301912', '103.844698910817')",
 "('1.37065487078854', '103.834630215787')",
 "('1.36830996981351', '103.853600305664')",
 "('1.369196965617', '103.841666636086')",
 "('1.37071307985916', '103.853497803014')",
 "('1.37329593649654', '103.835475719134')",
 "('1.3613425564061', '103.851698621454')",
 "('1.37061517595951', '103.83596769452')",
 "('1.36243186402478', '103.851030689651')",
 "('1.3716257020332', '103.857736107527')",
 "('1.36708983179046', '103.845660199054')",
 "('1.37138855070768', '103.855953346739')",
 "('1.37400086510074', '103.850139806283')",
 "('1.36314392666998', '103.858118593427')",
 "('1.36266297827625', '103.85651592319')",
 "('1.38010465081465', '103.840408680468')",
 "('1.37365123866689', '103.857022220393')",
 "('1.37101536386003', '103.841800323712')",
 "('1.37020344042146', '103.834687722549')",
 "('1.36408620030202', '103.856692408941')",
 "('1.38104134784496', '103.835131744823')",
 "('1.36711621129028', '103.85713855795')",
 "('1.36582089504381', '103.842847772078')",
 "('1.36628642816469', '103.844994760928')",
 "('1.37939517687868', '103.843763599411')",
 "('1.36661793708764', '103.84786688518')",
 "('1.37183157010083', '103.853670978083')",
 "('1.37175400663025', '103.8538833087')",
 "('1.37175400663025', '103.8538833087')",
 "('1.37026158388486', '103.839467898898')",
 "('1.36899287777802', '103.85276134968')",
 "('1.3734054063175', '103.851134219635')",
 "('1.37147783065153', '103.845868750998')",
 "('1.37207688864036', '103.852786139342')",
 "('1.36481255187585', '103.843844243986')",
 "('1.37845661566039', '103.839292714848')",
 "('1.334484667124', '103.937924710969')",
 "('1.33131021834565', '103.92685391703')",
 "('1.32791477933184', '103.942144427101')",
 "('1.3326931795279', '103.926617402908')",
 "('1.32085208689731', '103.933721091441')",
 "('1.33557619454702', '103.911545779692')",
 "('1.32947840879761', '103.921105111921')",
 "('1.32930431416537', '103.922415807329')",
 "('1.32914437941094', '103.909112780576')",
 "('1.33490287587397', '103.927838167286')",
 "('1.33303698213001', '103.924812248346')",
 "('1.3326931795279', '103.926617402908')",
 "('1.32869611162886', '103.941995599533')",
 "('1.33103784588692', '103.908641634756')",
 "('1.32052771476512', '103.934764301988')",
 "('1.32604335303082', '103.926488452026')",
 "('1.32424554153984', '103.941568704132')",
 "('1.32424554153984', '103.941568704132')",
 "('1.33372280929', '103.936517719048')",
 "('1.33541606502637', '103.922350075379')",
 "('1.32797877350561', '103.925804792632')",
 "('1.33541606502637', '103.922350075379')",
 "('1.32684846948333', '103.919015573079')",
 "('1.32791477933184', '103.942144427101')",
 "('1.32130118793544', '103.933299574181')",
 "('1.32544200357037', '103.926207634232')",
 "('1.33541606502637', '103.922350075379')",
 "('1.32936960154503', '103.929067536324')",
 "('1.33065454769523', '103.938496275607')",
 "('1.32797614118511', '103.927565110763')",
 "('1.32797877350561', '103.925804792632')",
 "('1.33358016248275', '103.92421866691')",
 "('1.33576929801793', '103.912779600202')",
 "('1.32233220742919', '103.939766219283')",
 "('1.32147847826862', '103.940721046918')",
 "('1.32205652925918', '103.93835472666')",
 "('1.32281544267372', '103.93545524391')",
 "('1.32284176978435', '103.936046815062')",
 "('1.32848132017235', '103.940611608837')",
 "('1.32726007220341', '103.940848770214')",
 "('1.33314106418951', '103.912523538101')",
 "('1.33534088461813', '103.91190498709')",
 "('1.32891558225172', '103.940528728774')",
 "('1.33563649761465', '103.913269358016')",
 "('1.33563649761465', '103.913269358016')",
 "('1.32925881944574', '103.939046430321')",
 "('1.33663681806047', '103.918995255673')",
 "('1.33262715051315', '103.928172121608')",
 "('1.32934898685946', '103.911583237057')",
 "('1.32891558225172', '103.940528728774')",
 "('1.33340012199511', '103.932519441614')",
 "('1.33597277354753', '103.924883020541')",
 "('1.33596106828604', '103.935990113555')",
 "('1.32727572366021', '103.924803599281')",
 "('1.32623725322603', '103.940827550178')",
 "('1.32405877835385', '103.911303762731')",
 "('1.32547710525716', '103.934348226987')",
 "('1.33000183975836', '103.912464022386')",
 "('1.32577850604228', '103.922424710131')",
 "('1.33207912967501', '103.908757101121')",
 "('1.32964999532963', '103.930260606366')",
 "('1.33607209475067', '103.934830606324')",
 "('1.32430604941035', '103.921625366639')",
 "('1.33695439373089', '103.928960561768')",
 "('1.33663699329345', '103.928207774481')",
 "('1.32485598421255', '103.933519574319')",
 "('1.33210132151895', '103.904953194958')",
 "('1.31925982986372', '103.945202877473')",
 "('1.33210132151895', '103.904953194958')",
 "('1.33361429610515', '103.942628254514')",
 "('1.3572844410824', '103.839396679952')",
 "('1.36345320627772', '103.834214627275')",
 "('1.34589493632505', '103.847365252767')",
 "('1.34800341123895', '103.855395747158')",
 "('1.34800341123895', '103.855395747158')",
 "('1.34706752664279', '103.848063665404')",
 "('1.34912207972494', '103.852880896047')",
 "('1.34886345078255', '103.855225779214')",
 "('1.34675059587742', '103.847990168368')",
 "('1.34794675925829', '103.848613166647')",
 "('1.34912207972494', '103.852880896047')",
 "('1.35960292271157', '103.84223893939')",
 "('1.35673539047075', '103.843519752733')",
 "('1.35751189682984', '103.848303415822')",
 "('1.35020582481902', '103.853049203745')",
 "('1.35840616993705', '103.831431580561')",
 "('1.36276886630643', '103.832758890176')",
 "('1.34608831988483', '103.850466820468')",
 "('1.34976942860988', '103.83847650474')",
 "('1.35673539047075', '103.843519752733')",
 "('1.35729122280137', '103.845845691915')",
 "('1.34541104764477', '103.852079804354')",
 "('1.36258323081948', '103.748574945077')",
 "('1.35618199232172', '103.751093390961')",
 "('1.34997305498668', '103.743724852615')",
 "('1.35665146828264', '103.751091825657')",
 "('1.35511516448647', '103.750877888291')",
 "('1.34681845451426', '103.752496875347')",
 "('1.34720729813155', '103.754999726682')",
 "('1.34848352110457', '103.756300449103')",
 "('1.35106126001126', '103.745857351625')",
 "('1.34719281119437', '103.752217334445')",
 "('1.362471403915', '103.750561080651')",
 "('1.34720729813155', '103.754999726682')",
 "('1.34873337819665', '103.753174278473')",
 "('1.34992721242157', '103.75698028632')",
 "('1.34660733553492', '103.740909286964')",
 "('1.34773558349504', '103.743984048754')",
 "('1.35091259231107', '103.759021061327')",
 "('1.36106704830424', '103.750625432011')",
 "('1.34673392184416', '103.754727840299')",
 "('1.34605460336986', '103.742605875259')",
 "('1.34660733553492', '103.740909286964')",
 "('1.3500084019244', '103.759862833782')",
 "('1.35159086987043', '103.74450960649')",
 "('1.35676942740178', '103.748774260571')",
 "('1.35511516448647', '103.750877888291')",
 "('1.34417029336796', '103.75943138784')",
 "('1.34918269764742', '103.757239164878')",
 "('1.35025884075015', '103.756604724025')",
 "('1.34441150327745', '103.757461503148')",
 "('1.36631689866947', '103.752287629198')",
 "('1.34900647921178', '103.751706683374')",
 "('1.34703672763612', '103.744977459595')",
 "('1.3482223088624', '103.74718849849')",
 "('1.34548008232168', '103.74995609585')",
 "('1.36393942184816', '103.752556035691')",
 "('1.36642311199961', '103.752688625262')",
 "('1.3453856199951', '103.746045480153')",
 "('1.34667192602747', '103.749383473832')",
 "('1.34600090748097', '103.750367726623')",
 "('1.36585374932576', '103.752728543207')",
 "('1.34713047021841', '103.749872835706')",
 "('1.34600894344315', '103.744423616373')",
 "('1.35134146122049', '103.749508645854')",
 "('1.34326273087543', '103.756531451656')",
 "('1.35044171803071', '103.743212010475')",
 "('1.3510594273469', '103.747712277505')",
 "('1.34448980917027', '103.760517162484')",
 "('1.28745837020188', '103.832675765986')",
 "('1.28728822015938', '103.831873006286')",
 "('1.27175707090153', '103.809560438327')",
 "('1.28830079095393', '103.827180352264')",
 "('1.27691594809877', '103.821818722889')",
 "('1.2880016960752', '103.831614592325')",
 "('1.27313105297407', '103.821662863346')",
 "('1.27436196353296', '103.822184004574')",
 "('1.27700823497374', '103.828056201882')",
 "('1.2801894226101', '103.828178445611')",
 "('1.28766976882827', '103.828202949008')",
 "('1.27483128753685', '103.810941368851')",
 "('1.27700823497374', '103.828056201882')",
 "('1.27570500784019', '103.812007084346')",
 "('1.28513427067055', '103.821532226321')",
 "('1.2801894226101', '103.828178445611')",
 "('1.27129597566763', '103.810507576844')",
 "('1.28852535171166', '103.828458597142')",
 "('1.29129374515873', '103.827476436671')",
 "('1.27396036035569', '103.812149525435')",
 "('1.28458712798457', '103.824360319186')",
 "('1.2864588189976', '103.804200246716')",
 "('1.27349435644809', '103.807229362471')",
 "('1.28407984956888', '103.830525506982')",
 "('1.28407984956888', '103.830525506982')",
 "('1.28420581657007', '103.831063385283')",
 "('1.28930893190551', '103.829233342268')",
 "('1.29071799751539', '103.821625207737')",
 "('1.27608072351135', '103.820839521286')",
 "('1.28942607947152', '103.822276781927')",
 "('1.27535201369639', '103.826950180582')",
 "('1.2733573140352', '103.825345821846')",
 "('1.28115303287131', '103.828856188849')",
 "('1.28064950442563', '103.810750913525')",
 "('1.28863365915922', '103.809643901495')",
 "('1.28863365915922', '103.809643901495')",
 "('1.29169833480355', '103.827334523132')",
 "('1.27883101079191', '103.82772371417')",
 "('1.27368173970143', '103.806579408022')",
 "('1.27368173970143', '103.806579408022')",
 "('1.27368173970143', '103.806579408022')",
 "('1.2822186913861', '103.824536254761')",
 "('1.28805315705423', '103.815277070461')",
 "('1.28838106670584', '103.817391094217')",
 "('1.2822186913861', '103.824536254761')",
 "('1.2822186913861', '103.824536254761')",
 "('1.29013858517146', '103.828453293371')",
 "('1.27368173970143', '103.806579408022')",
 "('1.28942607947152', '103.822276781927')",
 "('1.28064950442563', '103.810750913525')",
 "('1.28727739643389', '103.810963565072')",
 "('1.28796595709108', '103.808955848469')",
 "('1.28707749551877', '103.812705798881')",
 "('1.274636588887', '103.809632802144')",
 "('1.29065980562649', '103.832608331993')",
 "('1.2920752508431', '103.828584077626')",
 "('1.37494110084207', '103.774856358424')",
 "('1.37756663543382', '103.770660551039')",
 "('1.3810020467136', '103.774054657076')",
 "('1.38804394182061', '103.771067583616')",
 "('1.3870334545891', '103.768120654409')",
 "('1.38602106063185', '103.762854282454')",
 "('1.38031226320182', '103.768073595')",
 "('1.38394510110813', '103.769613738594')",
 "('1.38545862945551', '103.765218708925')",
 "('1.38625610118184', '103.762201338577')",
 "('1.37599511163058', '103.769766187776')",
 "('1.37317516532605', '103.774810614456')",
 "('1.38823731294211', '103.772144523474')",
 "('1.37856756097104', '103.770647361863')",
 "('1.38823731294211', '103.772144523474')",
 "('1.38294179147406', '103.763248348163')",
 "('1.3873519377776', '103.767041821055')",
 "('1.37490882252027', '103.773547827473')",
 "('1.37446597954509', '103.773606267573')",
 "('1.38803622153251', '103.766707751932')",
 "('1.38744862342634', '103.763847246671')",
 "('1.38624340292657', '103.76183758098')",
 "('1.38294179147406', '103.763248348163')",
 "('1.38652802373559', '103.759278980746')",
 "('1.38729105122449', '103.770822142944')",
 "('1.37924529892586', '103.765881569885')",
 "('1.38431966142748', '103.768865859999')",
 "('1.38840059034957', '103.771882173939')",
 "('1.37550299063609', '103.768952438105')",
 "('1.3752246947281', '103.765922512219')",
 "('1.38372140816294', '103.763127776187')",
 "('1.38055432084398', '103.768730366658')",
 "('1.38007208808669', '103.771833647326')",
 "('1.38436672930183', '103.762046231912')",
 "('1.38784692769514', '103.764249296909')",
 "('1.38422183055836', '103.763766919593')",
 "('1.37481680083006', '103.765109335954')",
 "('1.37481680083006', '103.765109335954')",
 "('1.37481680083006', '103.765109335954')",
 "('1.38021544120199', '103.766302173684')",
 "('1.38038712496611', '103.76535460069')",
 "('1.38129574701623', '103.761571341904')",
 "('1.38691070954118', '103.763310183378')",
 "('1.3753466349656', '103.770955400333')",
 "('1.37712962824254', '103.766171200009')",
 "('1.3385120672333', '103.774569823527')",
 "('1.31655990980042', '103.807288102167')",
 "('1.33931085810035', '103.772051477646')",
 "('1.2876742577682', '103.838857901085')",
 "('1.30743547948389', '103.854713903431')",
 "('1.29900941828595', '103.852284903161')",
 "('1.28497943108466', '103.84256768083')",
 "('1.27624052001347', '103.843006115698')",
 "('1.30093267323152', '103.853991004773')",
 "('1.30093267323152', '103.853991004773')",
 "('1.29685311080014', '103.853347534791')",
 "('1.27744909387079', '103.841666679651')",
 "('1.27598699469414', '103.841191762017')",
 "('1.27598699469414', '103.841191762017')",
 "('1.27779940676005', '103.841403430465')",
 "('1.37787904560638', '103.752103670331')",
 "('1.37787904560638', '103.752103670331')",
 "('1.37850799248774', '103.750707442454')",
 "('1.37782264943043', '103.735012354055')",
 "('1.37830357075531', '103.750108106647')",
 "('1.38012964850802', '103.738888788773')",
 "('1.40067815960728', '103.751377169268')",
 "('1.37893677955462', '103.751182368998')",
 "('1.38225681754484', '103.740957419462')",
 "('1.40333610825505', '103.745131655848')",
 "('1.39426765794686', '103.749319274696')",
 "('1.38065374945261', '103.746367289377')",
 "('1.3794475026281', '103.748287395227')",
 "('1.37918786548209', '103.756782882659')",
 "('1.38334049587446', '103.742083284398')",
 "('1.38216660471552', '103.742248296899')",
 "('1.37944877151316', '103.747548438263')",
 "('1.38012964850802', '103.738888788773')",
 "('1.3820241469387', '103.740310723833')",
 "('1.39914640891261', '103.747205206781')",
 "('1.40044599472035', '103.749872437775')",
 "('1.3823730080302', '103.741352252705')",
 "('1.39846759912749', '103.744645761889')",
 "('1.38180972459048', '103.742381573149')",
 "('1.39737094150025', '103.749602912203')",
 "('1.38213707062575', '103.743397513845')",
 "('1.38180972459048', '103.742381573149')",
 "('1.38213707062575', '103.743397513845')",
 "('1.37997802767876', '103.73490597126')",
 "('1.40298901385209', '103.750320068403')",
 "('1.4002092135442', '103.751271374918')",
 "('1.40313482841143', '103.749793059631')",
 "('1.39302712654645', '103.747272500906')",
 "('1.39371134802136', '103.743772016448')",
 "('1.40277627634375', '103.751539941559')",
 "('1.37856931410449', '103.738475704352')",
 "('1.37900459646071', '103.745926026056')",
 "('1.39832082870875', '103.745878081637')",
 "('1.39587445047224', '103.749162518106')",
 "('1.4025550181861', '103.748021726542')",
 "('1.37684772581631', '103.741509048162')",
 "('1.39817542038448', '103.744673993982')",
 "('1.40198475097106', '103.750788391041')",
 "('1.37788964623982', '103.754239909547')",
 "('1.30315360303876', '103.761943675943')",
 "('1.30315360303876', '103.761943675943')",
 "('1.30726692567512', '103.761107748856')",
 "('1.30423592481834', '103.76785339614')",
 "('1.31912618587195', '103.766983653394')",
 "('1.31701655142406', '103.770055178868')",
 "('1.32189101790957', '103.770595265822')",
 "('1.31966316716168', '103.769139839665')",
 "('1.31535006995344', '103.770861377512')",
 "('1.31518502692041', '103.768432708555')",
 "('1.30726692567512', '103.761107748856')",
 "('1.32206108860648', '103.76601401343')",
 "('1.31240641918888', '103.768752275192')",
 "('1.32057465713359', '103.768211873157')",
 "('1.31361567894894', '103.764809966953')",
 "('1.31017571904177', '103.77000324485')",
 "('1.304777153125', '103.763121970707')",
 "('1.30240953060904', '103.762804760851')",
 "('1.30533046157853', '103.762003588469')",
 "('1.3036973994055', '103.769476900942')",
 "('1.30240953060904', '103.762804760851')",
 "('1.31677716280701', '103.770897098036')",
 "('1.31087920188873', '103.769572621889')",
 "('1.31514159529226', '103.766056205529')",
 "('1.321415896635', '103.76710548935')",
 "('1.31109915509699', '103.766399536327')",
 "('1.30310124001611', '103.763413053663')",
 "('1.30360871033936', '103.763359143047')",
 "('1.32615469503568', '103.886047023988')",
 "('1.32648228290473', '103.885544901533')",
 "('1.32965461509134', '103.887183600084')",
 "('1.33119721401346', '103.886976681713')",
 "('1.33016619500294', '103.887785274744')",
 "('1.32577527145564', '103.885703636114')",
 "('1.32584857614009', '103.887926514332')",
 "('1.332283325328', '103.885620100954')",
 "('1.32817782362465', '103.886478352658')",
 "('1.33018852048052', '103.887508672167')",
 "('1.32740031002016', '103.887203611284')",
 "('1.32513240286821', '103.885610754075')",
 "('1.32965461509134', '103.887183600084')",
 "('1.32377995139071', '103.902330351336')",
 "('1.32584857614009', '103.887926514332')",
 "('1.33002586987709', '103.900995405582')",
 "('1.31210124370815', '103.897187082666')",
 "('1.30840477810117', '103.887347527399')",
 "('1.32902607919001', '103.88693079734')",
 "('1.3148464110566', '103.895864993673')",
 "('1.31830919498771', '103.887754005604')",
 "('1.32018325530871', '103.90080491512')",
 "('1.32635938429734', '103.899753061623')",
 "('1.31747603013691', '103.876354059117')",
 "('1.32385644988852', '103.887585351528')",
 "('1.31700019582001', '103.875994635636')",
 "('1.32684923967733', '103.886293541726')",
 "('1.31821153053878', '103.884752333398')",
 "('1.31258917369124', '103.896591193187')",
 "('1.31599388873107', '103.886008964798')",
 "('1.31859419589813', '103.899680218483')",
 "('1.30944315518034', '103.883336276334')",
 "('1.3819169455989', '103.87980371499')",
 "('1.36428542444529', '103.89046790222')",
 "('1.37143736463903', '103.88126107892')",
 "('1.36551226123746', '103.892085472745')",
 "('1.35277393315533', '103.890093177026')",
 "('1.36984770803551', '103.883701202398')",
 "('1.37051387277512', '103.882323502346')",
 "('1.36566993618767', '103.894847770847')",
 "('1.37205269626364', '103.886531403839')",
 "('1.3750613898604', '103.886910503596')",
 "('1.3750613898604', '103.886910503596')",
 "('1.36665999438856', '103.895009698642')",
 "('1.35925696781362', '103.887676276425')",
 "('1.36709855359263', '103.896978678668')",
 "('1.36680910838232', '103.895756047165')",
 "('1.3522029527063', '103.880173191904')",
 "('1.37002545723867', '103.89857229481')",
 "('1.37311063009805', '103.885636629182')",
 "('1.36476465177918', '103.894218784179')",
 "('1.3693032100873', '103.898351173028')",
 "('1.36710131174973', '103.898278016767')",
 "('1.37123297855584', '103.88691800304')",
 "('1.36706142659908', '103.888077255516')",
 "('1.37217287844953', '103.884645831522')",
 "('1.35020505529481', '103.887911495156')",
 "('1.36840583194353', '103.897820383869')",
 "('1.34975825362257', '103.886810075583')",
 "('1.3761286530375', '103.894831285996')",
 "('1.3742877202562', '103.879678550369')",
 "('1.37752721065187', '103.893597449085')",
 "('1.37670290100056', '103.888277047979')",

In [166]:
# initialize all coordinates of resale flats into a list
distanceList = []

for i in range(len(latitudeList)):
    distanceList.append(hs.haversine((latitudeList[i],longitudeList[i]),(1.28393326234538, 103.851463066212)))

HDB_resale_df['distance_from_CBD'] = pd.DataFrame(distanceList)

In [167]:
HDB_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,storey_classification,storey_coded,region_coded,address,latitude,longitude,coordinates,postal_code,sector_code,distance_from_CBD
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,...,high,3,3,406 ANG MO KIO AVE 10,1.362005,103.853880,"('1.36200453938712', '103.853879910407')",560406,56,8.685298
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,...,low,1,3,108 ANG MO KIO AVE 4,1.370966,103.838202,"('1.37096635222625', '103.838201940326')",560108,56,9.789287
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,low,1,3,602 ANG MO KIO AVE 5,1.380709,103.835368,"('1.38070883044887', '103.835368226602')",560602,56,10.908694
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,...,mid,2,3,465 ANG MO KIO AVE 10,1.366201,103.857201,"('1.3662010408294', '103.857200967235')",560465,56,9.169984
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,low,1,3,601 ANG MO KIO AVE 5,1.381041,103.835132,"('1.38104134784496', '103.835131744823')",560601,56,10.949497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142417,2022-02,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,...,mid,2,1,633 YISHUN ST 61,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277
142418,2022-02,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,...,high,3,1,632 YISHUN ST 61,1.418567,103.839187,"('1.41856736783462', '103.839186937262')",760632,76,15.032721
142419,2022-05,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,...,mid,2,1,605 YISHUN ST 61,1.421726,103.836336,"('1.42172608902193', '103.836336375801')",760605,76,15.413881
142420,2022-09,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,...,high,3,1,633 YISHUN ST 61,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277
142421,2022-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,...,mid,2,1,633 YISHUN ST 61,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277

In [171]:
station_df

stationLatitudeList = list(station_df['latitude'])
stationLongitudeList = list(station_df['longitude'])
stationList = list(station_df['station'])

In [222]:
Mall_df

mallLatitudeList = list(Mall_df['latitude'])
mallLongitudeList = list(Mall_df['longitude'])
mallList = list(Mall_df['mall'])

In [223]:
# function for returning resale flat's nearest MRT and distance

def nearestMRT(coordinate):
    min = 99999999
    station = ""
    for i, b in enumerate(stationLatitudeList):
        distance = hs.haversine(coordinate, (float(stationLatitudeList[i]), float(stationLongitudeList[i])))
        if (min > distance):
            min = distance
            station = stationList[i]
    return min, station

# function for returning resale flat's nearest mall and distance

def nearestMall(coordinate):
    min = 99999999
    mall = ""
    for i, b in enumerate(mallList):
        distance = hs.haversine(coordinate, (float(mallLatitudeList[i]), float(mallLongitudeList[i])))
        if (min > distance):
            min = distance
            mall = mallList[i]
    return min, mall

In [212]:
import time, copy
print('Starting timer...')
start_time = time.time()
count = 0
count = 100

minList = []
nearestStationList = []

for i in range(len(latitudeList)):
    coordinate = (latitudeList[i], longitudeList[i])
    minList.append(nearestMRT(coordinate)[0])
    nearestStationList.append(nearestMRT(coordinate)[1])
    
print('Stopping timer...')
time_taken = time.time() - start_time
print('Execution time ' + str(time_taken) + 'seconds.')

Starting timer...
Stopping timer...
Execution time 155.3398642539978seconds.

In [215]:
HDB_resale_df['nearest_station'] = pd.DataFrame(nearestStationList)
HDB_resale_df['nearest_station_distance'] = pd.DataFrame(minList)

In [216]:
HDB_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,region_coded,address,latitude,longitude,coordinates,postal_code,sector_code,distance_from_CBD,nearest_station,nearest_station_distance
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,...,3,406 ANG MO KIO AVE 10,1.362005,103.853880,"('1.36200453938712', '103.853879910407')",560406,56,8.685298,Ang Mo Kio,0.960938
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,...,3,108 ANG MO KIO AVE 4,1.370966,103.838202,"('1.37096635222625', '103.838201940326')",560108,56,9.789287,Mayflower,0.189871
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,3,602 ANG MO KIO AVE 5,1.380709,103.835368,"('1.38070883044887', '103.835368226602')",560602,56,10.908694,Lentor,0.535118
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,...,3,465 ANG MO KIO AVE 10,1.366201,103.857201,"('1.3662010408294', '103.857200967235')",560465,56,9.169984,Ang Mo Kio,0.932844
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,3,601 ANG MO KIO AVE 5,1.381041,103.835132,"('1.38104134784496', '103.835131744823')",560601,56,10.949497,Lentor,0.501153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142417,2022-02,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,...,1,633 YISHUN ST 61,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855
142418,2022-02,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,...,1,632 YISHUN ST 61,1.418567,103.839187,"('1.41856736783462', '103.839186937262')",760632,76,15.032721,Khatib,0.702424
142419,2022-05,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,...,1,605 YISHUN ST 61,1.421726,103.836336,"('1.42172608902193', '103.836336375801')",760605,76,15.413881,Khatib,0.610240
142420,2022-09,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,...,1,633 YISHUN ST 61,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855
142421,2022-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,...,1,633 YISHUN ST 61,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855

In [225]:
import time, copy
print('Starting timer...')
start_time = time.time()
count = 0
count = 100

nearestMallDistanceList = []
nearestMallList = []

for i in range(len(latitudeList)):
    coordinate = (latitudeList[i], longitudeList[i])
    nearestMallDistanceList.append(nearestMall(coordinate)[0])
    nearestMallList.append(nearestMall(coordinate)[1])
    
print('Stopping timer...')
time_taken = time.time() - start_time
print('Execution time ' + str(time_taken) + 'seconds.')

Starting timer...
Stopping timer...
Execution time 126.2641396522522seconds.

In [226]:
HDB_resale_df['nearest_mall'] = pd.DataFrame(nearestMallList)
HDB_resale_df['nearest_mall_distance'] = pd.DataFrame(nearestMallDistanceList)

HDB_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,latitude,longitude,coordinates,postal_code,sector_code,distance_from_CBD,nearest_station,nearest_station_distance,nearest_mall,nearest_mall_distance
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,...,1.362005,103.853880,"('1.36200453938712', '103.853879910407')",560406,56,8.685298,Ang Mo Kio,0.960938,AMK Hub,1.017286
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,...,1.370966,103.838202,"('1.37096635222625', '103.838201940326')",560108,56,9.789287,Mayflower,0.189871,Broadway Plaza,0.867983
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,1.380709,103.835368,"('1.38070883044887', '103.835368226602')",560602,56,10.908694,Lentor,0.535118,Broadway Plaza,1.528024
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,...,1.366201,103.857201,"('1.3662010408294', '103.857200967235')",560465,56,9.169984,Ang Mo Kio,0.932844,myVillage At Serangoon Garden,0.892900
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,1.381041,103.835132,"('1.38104134784496', '103.835131744823')",560601,56,10.949497,Lentor,0.501153,Broadway Plaza,1.571906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142417,2022-02,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,...,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017
142418,2022-02,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,...,1.418567,103.839187,"('1.41856736783462', '103.839186937262')",760632,76,15.032721,Khatib,0.702424,Wisteria Mall,0.245374
142419,2022-05,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,...,1.421726,103.836336,"('1.42172608902193', '103.836336375801')",760605,76,15.413881,Khatib,0.610240,Northpoint City,0.687057
142420,2022-09,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,...,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017
142421,2022-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,...,1.418658,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017

In [232]:
HDB_resale_df['adjusted_price_per_sqm'] = HDB_resale_df['adjusted_resale_price'] / HDB_resale_df['floor_area_sqm']

In [233]:
HDB_resale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142422 entries, 0 to 142421
Data columns (total 30 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   month                     142422 non-null  object
 1   town                      142422 non-null  object
 2   flat_type                 142422 non-null  object
 3   block                     142422 non-null  object
 4   street_name               142422 non-null  object
 5   storey_range              142422 non-null  object
 6   floor_area_sqm            142422 non-null  float64
 7   flat_model                142422 non-null  object
 8   lease_commence_date       142422 non-null  int64
 9   remaining_lease           142422 non-null  object
 10  resale_price              142422 non-null  float64
 11  adjusted_resale_price     142422 non-null  float64
 12  transaction_year          142422 non-null  int64
 13  transaction_month         142422 non-null  int64
 14  region                    142422 non-null  object
 15  storey_classification     142422 non-null  object
 16  storey_coded              142422 non-null  int64
 17  region_coded              142422 non-null  int64
 18  address                   142422 non-null  object
 19  latitude                  142422 non-null  float64
 20  longitude                 142422 non-null  float64
 21  coordinates               142422 non-null  object
 22  postal_code               142422 non-null  object
 23  sector_code               142422 non-null  object
 24  distance_from_CBD         142422 non-null  float64
 25  nearest_station           142422 non-null  object
 26  nearest_station_distance  142422 non-null  float64
 27  nearest_mall              142422 non-null  object
 28  nearest_mall_distance     142422 non-null  float64
 29  adjusted_price_per_sqm    142422 non-null  float64
dtypes: float64(9), int64(5), object(16)
memory usage: 32.6+ MB

In [234]:
HDB_resale_df.to_csv('transformed_df_features.csv')

In [3]:
# read csv file
url = 'transformed_df_features.csv'
HDB_resale_df = pd.read_csv(url)

In [4]:
HDB_resale_df.drop(axis=1, columns="Unnamed: 0", inplace=True)
HDB_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,longitude,coordinates,postal_code,sector_code,distance_from_CBD,nearest_station,nearest_station_distance,nearest_mall,nearest_mall_distance,adjusted_price_per_sqm
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,...,103.853880,"('1.36200453938712', '103.853879910407')",560406,56,8.685298,Ang Mo Kio,0.960938,AMK Hub,1.017286,6619.458211
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,...,103.838202,"('1.37096635222625', '103.838201940326')",560108,56,9.789287,Mayflower,0.189871,Broadway Plaza,0.867983,4684.382419
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,103.835368,"('1.38070883044887', '103.835368226602')",560602,56,10.908694,Lentor,0.535118,Broadway Plaza,1.528024,4909.232776
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,...,103.857201,"('1.3662010408294', '103.857200967235')",560465,56,9.169984,Ang Mo Kio,0.932844,myVillage At Serangoon Garden,0.892900,4892.424109
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,103.835132,"('1.38104134784496', '103.835131744823')",560601,56,10.949497,Lentor,0.501153,Broadway Plaza,1.571906,4965.445364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142417,2022-02,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,...,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017,5189.470018
142418,2022-02,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,...,103.839187,"('1.41856736783462', '103.839186937262')",760632,76,15.032721,Khatib,0.702424,Wisteria Mall,0.245374,5430.250784
142419,2022-05,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,...,103.836336,"('1.42172608902193', '103.836336375801')",760605,76,15.413881,Khatib,0.610240,Northpoint City,0.687057,5423.859379
142420,2022-09,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,...,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017,5365.853659
142421,2022-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,...,103.839842,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017,5730.994152

In [5]:
HDB_resale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142422 entries, 0 to 142421
Data columns (total 30 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   month                     142422 non-null  object
 1   town                      142422 non-null  object
 2   flat_type                 142422 non-null  object
 3   block                     142422 non-null  object
 4   street_name               142422 non-null  object
 5   storey_range              142422 non-null  object
 6   floor_area_sqm            142422 non-null  float64
 7   flat_model                142422 non-null  object
 8   lease_commence_date       142422 non-null  int64
 9   remaining_lease           142422 non-null  object
 10  resale_price              142422 non-null  float64
 11  adjusted_resale_price     142422 non-null  float64
 12  transaction_year          142422 non-null  int64
 13  transaction_month         142422 non-null  int64
 14  region                    142422 non-null  object
 15  storey_classification     142422 non-null  object
 16  storey_coded              142422 non-null  int64
 17  region_coded              142422 non-null  int64
 18  address                   142422 non-null  object
 19  latitude                  142422 non-null  float64
 20  longitude                 142422 non-null  float64
 21  coordinates               142422 non-null  object
 22  postal_code               142422 non-null  object
 23  sector_code               142422 non-null  object
 24  distance_from_CBD         142422 non-null  float64
 25  nearest_station           142422 non-null  object
 26  nearest_station_distance  142422 non-null  float64
 27  nearest_mall              142422 non-null  object
 28  nearest_mall_distance     142422 non-null  float64
 29  adjusted_price_per_sqm    142422 non-null  float64
dtypes: float64(9), int64(5), object(16)
memory usage: 32.6+ MB

#### Perform minor typecasting

In [6]:
# Convert int variables to category
HDB_resale_df['postal_code'] = HDB_resale_df['postal_code'].astype('category')
HDB_resale_df['sector_code'] = HDB_resale_df['sector_code'].astype('category')
HDB_resale_df['storey_coded'] = HDB_resale_df['storey_coded'].astype('category')
HDB_resale_df['region_coded'] = HDB_resale_df['region_coded'].astype('category')

HDB_resale_df.dtypes[HDB_resale_df.dtypes == 'int64']

lease_commence_date    int64
transaction_year       int64
transaction_month      int64
dtype: object

In [7]:
HDB_resale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142422 entries, 0 to 142421
Data columns (total 30 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   month                     142422 non-null  object
 1   town                      142422 non-null  object
 2   flat_type                 142422 non-null  object
 3   block                     142422 non-null  object
 4   street_name               142422 non-null  object
 5   storey_range              142422 non-null  object
 6   floor_area_sqm            142422 non-null  float64
 7   flat_model                142422 non-null  object
 8   lease_commence_date       142422 non-null  int64
 9   remaining_lease           142422 non-null  object
 10  resale_price              142422 non-null  float64
 11  adjusted_resale_price     142422 non-null  float64
 12  transaction_year          142422 non-null  int64
 13  transaction_month         142422 non-null  int64
 14  region                    142422 non-null  object
 15  storey_classification     142422 non-null  object
 16  storey_coded              142422 non-null  category
 17  region_coded              142422 non-null  category
 18  address                   142422 non-null  object
 19  latitude                  142422 non-null  float64
 20  longitude                 142422 non-null  float64
 21  coordinates               142422 non-null  object
 22  postal_code               142422 non-null  category
 23  sector_code               142422 non-null  category
 24  distance_from_CBD         142422 non-null  float64
 25  nearest_station           142422 non-null  object
 26  nearest_station_distance  142422 non-null  float64
 27  nearest_mall              142422 non-null  object
 28  nearest_mall_distance     142422 non-null  float64
 29  adjusted_price_per_sqm    142422 non-null  float64
dtypes: category(4), float64(9), int64(3), object(14)
memory usage: 29.3+ MB

In [8]:
HDB_resale_df['storey_range'].unique()

array(['10 TO 12', '01 TO 03', '04 TO 06', '07 TO 09', '13 TO 15',
       '19 TO 21', '22 TO 24', '16 TO 18', '34 TO 36', '28 TO 30',
       '37 TO 39', '49 TO 51', '25 TO 27', '40 TO 42', '31 TO 33',
       '46 TO 48', '43 TO 45'], dtype=object)

In [9]:
storey_number_list = []

for storey in list(HDB_resale_df['storey_range']):
    if storey == '01 TO 03':
        storey_number_list.append(2)
    elif storey == '04 TO 06':
        storey_number_list.append(5)
    elif storey == '07 TO 09':
        storey_number_list.append(8)
    elif storey == '10 TO 12':
        storey_number_list.append(11)
    elif storey == '13 TO 15':
        storey_number_list.append(14)
    elif storey == '16 TO 18':
        storey_number_list.append(17)
    elif storey == '19 TO 21':
        storey_number_list.append(20)
    elif storey == '22 TO 24':
        storey_number_list.append(23)
    elif storey == '25 TO 27':
        storey_number_list.append(26)
    elif storey == '28 TO 30':
        storey_number_list.append(29)
    elif storey == '31 TO 33':
        storey_number_list.append(32)
    elif storey == '34 TO 36':
        storey_number_list.append(35)
    elif storey == '37 TO 39':
        storey_number_list.append(38)
    elif storey == '40 TO 42':
        storey_number_list.append(41)
    elif storey == '43 TO 45':
        storey_number_list.append(44)
    elif storey == '46 TO 48':
        storey_number_list.append(47)
    else:
        storey_number_list.append(50)

storey_number_list

[11,
 2,
 2,
 5,
 2,
 2,
 5,
 5,
 5,
 2,
 2,
 11,
 5,
 8,
 8,
 5,
 11,
 5,
 8,
 5,
 8,
 5,
 11,
 2,
 5,
 8,
 8,
 11,
 8,
 11,
 11,
 8,
 2,
 11,
 8,
 2,
 2,
 2,
 5,
 5,
 5,
 5,
 5,
 11,
 11,
 11,
 14,
 20,
 23,
 2,
 14,
 20,
 14,
 11,
 11,
 8,
 5,
 5,
 8,
 2,
 2,
 5,
 5,
 5,
 11,
 14,
 11,
 5,
 11,
 11,
 14,
 8,
 14,
 8,
 5,
 8,
 2,
 8,
 5,
 8,
 11,
 5,
 8,
 11,
 5,
 11,
 2,
 5,
 5,
 14,
 5,
 11,
 5,
 14,
 2,
 5,
 8,
 14,
 2,
 8,
 8,
 8,
 2,
 5,
 8,
 14,
 11,
 5,
 5,
 14,
 8,
 5,
 11,
 2,
 8,
 5,
 17,
 17,
 14,
 5,
 2,
 14,
 5,
 2,
 11,
 11,
 11,
 11,
 5,
 5,
 5,
 5,
 5,
 2,
 8,
 8,
 2,
 14,
 35,
 5,
 2,
 8,
 23,
 8,
 8,
 5,
 5,
 5,
 2,
 5,
 5,
 11,
 2,
 5,
 2,
 8,
 8,
 5,
 8,
 8,
 2,
 8,
 5,
 2,
 5,
 8,
 11,
 11,
 11,
 5,
 8,
 11,
 2,
 17,
 5,
 8,
 2,
 8,
 2,
 5,
 2,
 2,
 14,
 17,
 14,
 8,
 11,
 23,
 11,
 14,
 8,
 14,
 11,
 2,
 14,
 8,
 8,
 8,
 8,
 5,
 5,
 11,
 11,
 2,
 2,
 5,
 5,
 11,
 8,
 5,
 8,
 8,
 8,
 5,
 8,
 2,
 5,
 14,
 2,
 2,
 2,
 23,
 2,
 5,
 8,
 5,
 5,
 11,
 14,
 17,
 5,
 2,
 14,
 5,
 5,
 5,
 5,
 5,
 20,
 14,
 23,
 29,
 29,
 8,
 2,
 2,
 14,
 11,
 17,
 8,
 14,
 11,
 2,
 8,
 14,
 5,
 5,
 2,
 11,
 5,
 8,
 5,
 8,
 11,
 5,
 17,
 2,
 8,
 11,
 8,
 11,
 8,
 11,
 8,
 23,
 8,
 14,
 5,
 17,
 2,
 2,
 5,
 8,
 11,
 14,
 17,
 17,
 8,
 8,
 11,
 5,
 8,
 29,
 2,
 5,
 2,
 8,
 11,
 2,
 5,
 2,
 17,
 8,
 8,
 17,
 17,
 17,
 5,
 5,
 38,
 50,
 11,
 5,
 8,
 5,
 2,
 2,
 2,
 5,
 5,
 8,
 2,
 2,
 5,
 5,
 5,
 2,
 5,
 5,
 11,
 2,
 5,
 11,
 2,
 11,
 2,
 11,
 14,
 14,
 5,
 8,
 11,
 17,
 5,
 5,
 20,
 14,
 5,
 8,
 11,
 11,
 8,
 5,
 17,
 14,
 5,
 5,
 5,
 5,
 5,
 11,
 2,
 8,
 11,
 11,
 14,
 11,
 5,
 2,
 5,
 14,
 2,
 2,
 5,
 2,
 11,
 2,
 11,
 5,
 11,
 8,
 2,
 8,
 8,
 11,
 11,
 2,
 5,
 2,
 2,
 5,
 5,
 2,
 2,
 2,
 8,
 5,
 5,
 5,
 5,
 8,
 14,
 11,
 11,
 17,
 2,
 2,
 11,
 8,
 5,
 11,
 11,
 2,
 11,
 11,
 11,
 2,
 2,
 2,
 2,
 2,
 5,
 5,
 5,
 8,
 5,
 2,
 8,
 11,
 8,
 5,
 8,
 2,
 2,
 2,
 5,
 11,
 5,
 2,
 5,
 5,
 5,
 8,
 11,
 8,
 8,
 14,
 5,
 11,
 8,
 14,
 11,
 11,
 5,
 14,
 2,
 8,
 5,
 2,
 8,
 17,
 11,
 8,
 14,
 11,
 17,
 5,
 11,
 11,
 11,
 8,
 8,
 2,
 8,
 17,
 14,
 2,
 2,
 5,
 2,
 11,
 14,
 5,
 2,
 5,
 5,
 5,
 8,
 5,
 11,
 5,
 5,
 5,
 5,
 2,
 5,
 14,
 8,
 2,
 5,
 2,
 11,
 8,
 14,
 20,
 5,
 26,
 5,
 14,
 11,
 5,
 11,
 17,
 5,
 11,
 17,
 2,
 2,
 8,
 20,
 2,
 5,
 8,
 11,
 11,
 5,
 8,
 8,
 5,
 5,
 20,
 11,
 2,
 8,
 8,
 8,
 2,
 5,
 8,
 5,
 8,
 2,
 14,
 2,
 8,
 5,
 14,
 8,
 5,
 11,
 5,
 8,
 8,
 5,
 11,
 2,
 5,
 5,
 5,
 5,
 11,
 8,
 8,
 11,
 2,
 5,
 11,
 11,
 5,
 5,
 2,
 11,
 17,
 8,
 8,
 8,
 14,
 8,
 14,
 14,
 8,
 11,
 8,
 11,
 8,
 11,
 8,
 11,
 11,
 17,
 20,
 20,
 8,
 5,
 5,
 14,
 5,
 8,
 11,
 2,
 8,
 5,
 14,
 8,
 5,
 11,
 5,
 2,
 14,
 8,
 8,
 11,
 11,
 17,
 8,
 17,
 11,
 5,
 11,
 5,
 8,
 5,
 2,
 11,
 11,
 11,
 8,
 14,
 11,
 8,
 8,
 5,
 14,
 5,
 8,
 2,
 17,
 11,
 5,
 17,
 11,
 5,
 8,
 8,
 8,
 11,
 14,
 2,
 5,
 8,
 11,
 8,
 5,
 2,
 8,
 8,
 17,
 29,
 8,
 20,
 20,
 5,
 14,
 5,
 26,
 5,
 2,
 11,
 11,
 8,
 5,
 2,
 2,
 2,
 5,
 11,
 5,
 2,
 5,
 11,
 5,
 11,
 8,
 5,
 8,
 8,
 8,
 14,
 8,
 14,
 2,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 11,
 11,
 8,
 8,
 11,
 11,
 2,
 11,
 11,
 5,
 11,
 8,
 8,
 14,
 2,
 2,
 11,
 2,
 11,
 2,
 5,
 17,
 5,
 8,
 5,
 8,
 17,
 14,
 14,
 5,
 2,
 11,
 14,
 8,
 14,
 8,
 14,
 14,
 17,
 14,
 2,
 2,
 5,
 8,
 5,
 11,
 14,
 14,
 14,
 17,
 11,
 11,
 11,
 17,
 8,
 14,
 8,
 11,
 8,
 11,
 17,
 5,
 11,
 8,
 2,
 14,
 17,
 2,
 8,
 8,
 5,
 11,
 8,
 5,
 11,
 17,
 14,
 8,
 11,
 14,
 5,
 8,
 17,
 5,
 5,
 5,
 20,
 5,
 29,
 17,
 11,
 14,
 5,
 20,
 20,
 2,
 5,
 2,
 11,
 5,
 11,
 11,
 5,
 14,
 14,
 5,
 8,
 8,
 11,
 5,
 11,
 8,
 11,
 11,
 5,
 8,
 5,
 8,
 20,
 11,
 11,
 14,
 11,
 17,
 2,
 2,
 14,
 11,
 2,
 8,
 5,
 2,
 5,
 5,
 5,
 2,
 5,
 2,
 11,
 8,
 2,
 11,
 14,
 11,
 2,
 5,
 8,
 14,
 14,
 11,
 14,
 11,
 5,
 14,
 17,
 5,
 8,
 5,
 14,
 11,
 17,
 26,
 17,
 8,
 11,
 14,
 5,
 11,
 5,
 8,
 5,
 8,
 17,
 2,
 2,
 8,
 8,
 2,
 14,
 14,
 17,
 11,
 17,
 8,
 11,
 8,
 11,
 17,
 8,
 14,
 11,
 8,
 5,
 8,
 8,
 14,
 8,
 8,
 11,
 5,
 2,
 11,
 2,
 2,
 8,
 11,
 5,
 2,
 5,
 2,
 5,
 2,
 5,
 11,
 8,
 5,
 8,
 8,
 5,
 2,
 2,
 5,
 2,
 8,
 8,
 5,
 2,
 5,
 8,
 2,
 2,
 5,
 5,
 5,
 5,
 5,
 2,
 11,
 8,
 8,
 8,
 11,
 2,
 11,
 2,
 5,
 2,
 11,
 5,
 8,
 5,
 5,
 5,
 11,
 2,
 5,
 2,
 2,
 8,
 11,
 5,
 11,
 11,
 5,
 5,
 8,
 11,
 8,
 2,
 11,
 11,
 2,
 8,
 11,
 2,
 5,
 2,
 5,
 8,
 11,
 5,
 5,
 14,
 2,
 14,
 11,
 11,
 14,
 5,
 8,
 11,
 11,
 14,
 2,
 5,
 2,
 11,
 2,
 11,
 5,
 8,
 8,
 ...]

In [10]:
HDB_resale_df['storey_avg'] = pd.DataFrame(storey_number_list)

In [11]:
HDB_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,coordinates,postal_code,sector_code,distance_from_CBD,nearest_station,nearest_station_distance,nearest_mall,nearest_mall_distance,adjusted_price_per_sqm,storey_avg
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,...,"('1.36200453938712', '103.853879910407')",560406,56,8.685298,Ang Mo Kio,0.960938,AMK Hub,1.017286,6619.458211,11
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,...,"('1.37096635222625', '103.838201940326')",560108,56,9.789287,Mayflower,0.189871,Broadway Plaza,0.867983,4684.382419,2
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,"('1.38070883044887', '103.835368226602')",560602,56,10.908694,Lentor,0.535118,Broadway Plaza,1.528024,4909.232776,2
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,...,"('1.3662010408294', '103.857200967235')",560465,56,9.169984,Ang Mo Kio,0.932844,myVillage At Serangoon Garden,0.892900,4892.424109,5
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,"('1.38104134784496', '103.835131744823')",560601,56,10.949497,Lentor,0.501153,Broadway Plaza,1.571906,4965.445364,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142417,2022-02,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,...,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017,5189.470018,5
142418,2022-02,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,...,"('1.41856736783462', '103.839186937262')",760632,76,15.032721,Khatib,0.702424,Wisteria Mall,0.245374,5430.250784,11
142419,2022-05,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,...,"('1.42172608902193', '103.836336375801')",760605,76,15.413881,Khatib,0.610240,Northpoint City,0.687057,5423.859379,5
142420,2022-09,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,...,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017,5365.853659,11
142421,2022-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,...,"('1.41865757414383', '103.839842120968')",760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017,5730.994152,8

In [12]:
years = HDB_resale_df['remaining_lease'].str.slice(start=0, stop=2)
months = HDB_resale_df['remaining_lease'].str.slice(start=9, stop=11)

In [13]:
remaining_months_list = []

for lease in HDB_resale_df['remaining_lease']:
    years = int(lease[0:2])
    months = lease[9:11]

    if (months == '01'):
        remaining_months_list.append(years*12+1)
    elif months == '02':
        remaining_months_list.append(years*12+2)
    elif months == '03':
        remaining_months_list.append(years*12+3)
    elif months == '04':
        remaining_months_list.append(years*12+4)
    elif months == '05':
        remaining_months_list.append(years*12+5)
    elif months == '06':
        remaining_months_list.append(years*12+6)
    elif months == '07':
        remaining_months_list.append(years*12+7)
    elif months == '08':
        remaining_months_list.append(years*12+8)
    elif months == '09':
        remaining_months_list.append(years*12+9)
    elif months == '10':
        remaining_months_list.append(years*12+10)
    elif months == '11':
        remaining_months_list.append(years*12+11)
    else:
        remaining_months_list.append(years*12)

In [14]:
HDB_resale_df['remaining_months'] = pd.DataFrame(remaining_months_list)

In [15]:
HDB_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,postal_code,sector_code,distance_from_CBD,nearest_station,nearest_station_distance,nearest_mall,nearest_mall_distance,adjusted_price_per_sqm,storey_avg,remaining_months
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,...,560406,56,8.685298,Ang Mo Kio,0.960938,AMK Hub,1.017286,6619.458211,11,736
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,...,560108,56,9.789287,Mayflower,0.189871,Broadway Plaza,0.867983,4684.382419,2,727
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,560602,56,10.908694,Lentor,0.535118,Broadway Plaza,1.528024,4909.232776,2,749
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,...,560465,56,9.169984,Ang Mo Kio,0.932844,myVillage At Serangoon Garden,0.892900,4892.424109,5,745
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,...,560601,56,10.949497,Lentor,0.501153,Broadway Plaza,1.571906,4965.445364,2,749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142417,2022-02,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,64 years 11 months,...,760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017,5189.470018,5,779
142418,2022-02,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 09 months,...,760632,76,15.032721,Khatib,0.702424,Wisteria Mall,0.245374,5430.250784,11,777
142419,2022-05,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,64 years 09 months,...,760605,76,15.413881,Khatib,0.610240,Northpoint City,0.687057,5423.859379,5,777
142420,2022-09,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,64 years 04 months,...,760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017,5365.853659,11,772
142421,2022-10,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,64 years 03 months,...,760633,76,15.036277,Khatib,0.775855,Wisteria Mall,0.180017,5730.994152,8,771

In [16]:
HDB_resale_df.to_csv('transformed_df_features2.csv', index = False)